<div class="page-content position-relative">
    <!-- start section -->
    <section class="bg-dark-gray full-screen ipad-top-space-margin position-relative md-h-700px sm-h-600px sm-pb-70px cover-background md-pt-0px" style="background-image: url('{{block.imageBackgroud|media}}')">
        <div class="position-absolute left-0px bottom-0px d-none d-md-inline-block lg-w-350px" data-bottom-top="transform: translate3d(170px, 0px, 0px) scale(0.9, 0.9);" data-top-bottom="transform: translate3d(-200px, 0px, 0px) scale(1.2, 1.2);">
            <img src="{{block.imageLeft|media}}" alt="">
        </div>
        <div class="container h-100 d-none d-lg-block">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-md-6 position-relative text-center">
                    <img src="{{block.imageMiddle|media}}" alt="" data-bottom-top="transform:scale(1, 1); filter: blur(0px)" data-top-bottom="transform:scale(0.8, 0.8); filter: blur(0px)">
                </div>
            </div>
        </div>
        <div class="position-absolute right-0px bottom-0px d-none d-md-inline-block lg-w-650px" data-bottom-top="transform: translate3d(-170px, 0px, 0px) scale(0.9, 0.9);" data-top-bottom="transform: translate3d(200px, 0px, 0px) scale(1.2, 1.2);">
            <img src="{{block.imageRight|media}}" alt="">
        </div>
    </section>
</div>
