[builderList danhMucFiles]
modelClass = "Hoangvo\Files\Models\DanhMuc"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "ten"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList dsFiles]
modelClass = "Hoangvo\Files\Models\File"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "ten"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[danhSachFile]
sortOrder = "nam_du_lieu_asc"

[danhSachDanhMuc]
==
{% set dsDanhMuc = danhMucFiles.records.where('loai_danh_muc','!=','ptbv') %}
{% set dsFilesTheoDanhMuc = dsFiles.records %}

<section class="bg-very-light-gray" id="section-danh-muc-files">
    <div class="container">
        <div class="row justify-content-center align-items-center gy-0 gx-0">
            <div class="col-lg-5">
                <div class="d-flex flex-column mb-3 danh-muc-doc">
                    {% for danhMuc in dsDanhMuc %}
                    {% if danhMuc.danh_muc_cha is empty %}
                    <a class="danh-muc-doc-item" href="#section-table-{{danhMuc.id}}" onclick="scrollToCoDongTarget('section-table-{{danhMuc.id}}',this)">
                        <div class="p-2 bg-third-color mb-10px border-radius-5px fw-500 danh-muc-doc-content">
                            {{danhMuc.ten}}
                        </div>
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-7">
                <div class="row row-cols-1 row-cols-md-3 g-0">
                    {% for danhMuc in dsDanhMuc %}
                        {% if danhMuc.danh_muc_cha is empty %}
                            <div class="col co-dong-category">
                                <a href="#section-table-{{danhMuc.id}}" onclick="scrollToTarget('section-table-{{danhMuc.id}}')"class="danh-muc-item">
                                    <div class="card h-100 border-none no-border-radius">
                                        <div class="card-body p-20px text-center justify-content-center align-items-center d-flex flex-column">
                                            <img src="{{danhMuc.anh_dai_dien|media}}" class="card-img-top mx-auto d-block w-50" alt="..." />
                                            <p class="text-center mt-2 mb-0">{{ danhMuc.ten }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {# <div>
                    <script src="https://www.fireant.vn/Scripts/web/widgets.js"></script>
                    <div id="fan-quote-758"></div>
                    <script type="text/javascript">
                    new FireAnt.QuoteWidget({
                        "container_id": "fan-quote-758",
                        "symbols": "HAG",
                        "locale": "vi",
                        "price_line_color": "#71BDDF",
                        "grid_color": "#999999",
                        "label_color": "#999999",
                        "width": "100%",
                        "height": "300px"
                    });
                    </script>
                </div> #}
            </div>
        </div>
    </div>
</section>
