
<section class=" bg-very-light-gray big-section" id="{{block.content_group}}-{{block.id}}" >
    <div class="container">
          <div class="row overlap-section justify-content-center g-0 mb-8">
            <div class="col-auto text-center last-paragraph-no-margin pt-20px pb-20px ps-60px pe-60px sm-ps-50px sm-pe-40px bg-base-color border-radius-100px xs-border-radius-30px">
                <div class="fs-30 fw-700 text-primary ">{{block.tuaDe}}</div>
                <p class="fs-19 text-white text-justify">{{block.noiDung}}</p>
            </div>
        </div>
        <div class="row align-items-center mb-6 xs-mb-12 justify-content-md-center">
            <div class="col-xl-6 col-lg-6 col-md-12 md-mb-50px" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                {% for moTa in block.dsMoTa %}
                    <div class="row">
                        <h6 class=" fs-20 text-base-color fw-500">{{moTa.noiDung}}</h6>
                        <div class="divider-style-03 divider-style-03-01 border-color-dark-gray mb-20px w-100"></div>
                        <p class="text-black text-justify">{{moTa.moTa}}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="col-lg-6  col-md-10 position-relative">
                <figure class="position-relative m-0 text-center" data-anime='{ "effect": "slide", "color": "#eceff1", "direction":"rl", "easing": "easeOutQuad", "delay":50}'>
                    <img src="{{block.image1|media}}" alt="">
                    <figcaption class="position-absolute bottom-50px right-0px" data-anime='{ "translateY": [-50, 0], "opacity": [0,1], "duration": 800, "delay": 1000, "staggervalue": 300, "easing": "easeOutQuad" }'>
                        <img src="{{block.image2|media}}" class="animation-float box-shadow-quadruple-large border-radius-6px" alt="">
                    </figcaption>
                </figure>
            </div>

        </div>
        <div class="row row-cols-1 row-cols-md-4 row-cols-sm-2 justify-content-center counter-style-04">
            {% for soLieu in block.slConNguoi%}
                {# <div class="col last-paragraph-no-margin text-center sm-mb-40px">
                    <h3 class="vertical-counter d-inline-flex alt-font text-dark-gray fw-700 ls-minus-3px m-0" data-text="" data-to="{{soLieu.soLuong}}"><sup class="text-jungle-green top-0"><i class="bi bi-arrow-up icon-extra-medium"></i></sup></h3>
                    <p>{{soLieu.noiDung}}</p>
                </div> #}
                    <!-- start counter item -->
                <div class="col transition-inner-all md-mb-30px">
                    <div class="feature-box overflow-hidden dark-hover bg-white box-shadow-quadruple-large box-shadow-quadruple-large-hover border-radius-8px p-35px lg-p-25px">
                        <div class="feature-box-content">
                            <h2 class="alt-font fw-700 text-dark-gray ls-minus-1px mb-0">{{soLieu.soLuong}}</h2>
                            <span class="d-block text-dark-gray text-light-opacity fw-600 text-uppercase fs-13 ls-1px">{{soLieu.noiDung}}</span>
                        </div>
                        <div class="feature-box-overlay bg-base-co"></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
