<section class="bg-very-light-gray big-section position-relative  overflow-hidden background-position-center-top sm-background-image-none" style="background-image: url('images/vertical-line-bg-small.svg')">
    <div class="position-absolute left-minus-100px" data-bottom-top="transform: translateY(-180px)" data-top-bottom="transform: translateY(180px)">
        <img src="images/demo-elearning-bg-05.png" alt="" >
    </div>
    <div class="container">
        {# <div class="row align-items-end mb-6">
            <div class="col-md-6 sm-mb-20px">
                <span class="fs-14 fw-500 ls-1px opacity-6 text-uppercase mb-5px d-block text-primary ">{{block.tuaDe}}</span>
                <h4 class="fw-600 mb-0 text-primary">{{block.tuaDe}}</h4>
            </div>
            <div class="col-md-5 offset-md-1 last-paragraph-no-margin">
                <p class="w-80 xl-w-85 lg-w-100">{{block.noiDung}}</p>
            </div>
        </div> #}
        <div class="row align-items-center mb-6 sm-mb-9 text-center text-lg-start">
            <div class="col-lg-4 md-mb-20px">
                <h3 class=" fw-700 mb-0 ls-minus-1px text-primary">{{block.tuaDe}}</h3>
            </div>
            <div class="col-lg-7 last-paragraph-no-margin md-mb-20px">
                <p class="w-100 text-black">{{block.noiDung}}</p>
            </div>
            <div class="col-lg-1 d-flex justify-content-center justify-content-lg-end">
                <!-- start slider navigation -->
                <div class="slider-one-slide-prev-1 icon-extra-medium text-base-color swiper-button-prev slider-navigation-style-04 border border-1 border-color-transparent-white-light">
                    <i class="feather icon-feather-chevron-left"></i>
                </div>
                <div class="slider-one-slide-next-1 icon-extra-medium text-base-color swiper-button-next slider-navigation-style-04 border border-1 border-color-transparent-white-light">
                    <i class="feather icon-feather-chevron-right"></i>
                </div>
                <!-- end slider navigation -->
            </div>
        </div>
        <div class="row align-items-center mb-6">
            <div class="col-12">
                <div class="outside-box-right-25 sm-outside-box-right-0">
                    <div class="swiper magic-cursor slider-one-slide" data-slider-options='{ "slidesPerView": 3, "spaceBetween": 30, "loop": true, "navigation": { "nextEl": ".slider-one-slide-next-1", "prevEl": ".slider-one-slide-prev-1" }, "autoplay": { "delay": 4000, "disableOnInteraction": false }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "1200": { "slidesPerView": 3 }, "992": { "slidesPerView": 3 }, "768": { "slidesPerView": 2 }, "320": { "slidesPerView": 1 } }, "effect": "slide" }'>
                        <div class="swiper-wrapper" >
                            {% for hoatDong in block.dsHoatDong%}
                            <div class="swiper-slide"  style="height: auto;" >
                                {# <div class=" interactive-banner-style-02 hover-box dark-hover md-mb-30px h-100">
                                    <div class="h-100 text-center position-relative border-radius-6px box-shadow-quadruple-large overflow-hidden">
                                        <figure class="m-0">
                                            <img src="{{hoatDong.image|media}}" alt="" />
                                            <figcaption class="w-100 position-absolute bottom-0px bg-white ">
                                                <div class="position-relative z-index-2 p-40px pt-25px pb-15px border-bottom border-dark-opacity">
                                                    <i class="features-icon line-icon-Archery-2 d-block icon-extra-large"></i>
                                                    <p class="w-80 lg-w-100 fs-16 mx-auto mb-15px lg-mb-10px text-light-opacity">{{hoatDong.noiDung}}</p>
                                                </div>
                                                <a href="#" class="btn btn-link btn-hover-animation-switch btn-medium fw-700 text-dark-gray text-uppercase p-20px z-index-1">
                                                    <span>
                                                        <span class="btn-text">Chi tiết</span>
                                                        <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                                        <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                                    </span>
                                                </a>
                                                <div class="box-overlay bg-base-color"></div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </div> #}
                                <div class="card h-100 text-center">
                                    <img src="{{hoatDong.image|media}}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <p class="card-text fs-20ps text-black fw-500">{{hoatDong.noiDung}}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
