<section class="pt-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-xl-4 row-cols-lg-3 row-cols-sm-2 justify-content-center" data-anime='{ "el": "childs", "scale":[0.9,1], "opacity": [0,1], "duration": 500, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'>
            <!-- start interactive banners item -->
            <div class="col text-center interactive-banner-style-01 lg-mb-30px">
                <figure class="m-0 position-relative hover-box border-radius-6px overflow-hidden">
                    <img src="https://via.placeholder.com/600x600" alt="" />
                    <div class="position-absolute top-0px left-0px w-100 h-100 bg-gradient-dark-transparent opacity-5"></div>
                    <figcaption class="w-100 h-100 d-flex flex-column justify-content-end align-items-center p-30px">
                        <div class="position-relative z-index-1">
                            <a href="#" class="d-flex justify-content-center align-items-center mx-auto icon-box w-70px h-70px rounded-circle bg-white mb-50px box-shadow-quadruple-large"><i class="bi bi-arrow-right-short text-dark-gray icon-medium lh-0px"></i></a>
                            <a href="#" class="alt-font fs-18 fw-500 lette text-white d-block text-uppercase">India</a>
                        </div>
                        <div class="box-overlay bg-dark-gray"></div>
                    </figcaption>
                </figure>
            </div>
            <!-- end interactive banners item -->
            <!-- start interactive banners item -->
            <div class="col text-center interactive-banner-style-01 lg-mb-30px">
                <figure class="m-0 position-relative hover-box border-radius-6px overflow-hidden">
                    <img src="https://via.placeholder.com/600x600" alt="" />
                    <div class="position-absolute top-0px left-0px w-100 h-100 bg-gradient-dark-transparent opacity-5"></div>
                    <figcaption class="w-100 h-100 d-flex flex-column justify-content-end align-items-center p-30px">
                        <div class="position-relative z-index-1">
                            <a href="#" class="d-flex justify-content-center align-items-center mx-auto icon-box w-70px h-70px rounded-circle bg-white mb-50px box-shadow-quadruple-large"><i class="bi bi-arrow-right-short text-dark-gray icon-medium lh-0px"></i></a>
                            <a href="#" class="alt-font fs-18 fw-500 lette text-white d-block text-uppercase">Poland</a>
                        </div>
                        <div class="box-overlay bg-dark-gray"></div>
                    </figcaption>
                </figure>
            </div>
            <!-- end interactive banners item -->
            <!-- start interactive banners item -->
            <div class="col text-center interactive-banner-style-01 lg-mb-30px">
                <figure class="m-0 position-relative hover-box border-radius-6px overflow-hidden">
                    <img src="https://via.placeholder.com/600x600" alt="" />
                    <div class="position-absolute top-0px left-0px w-100 h-100 bg-gradient-dark-transparent opacity-5"></div>
                    <figcaption class="w-100 h-100 d-flex flex-column justify-content-end align-items-center p-30px">
                        <div class="position-relative z-index-1">
                            <a href="#" class="d-flex justify-content-center align-items-center mx-auto icon-box w-70px h-70px rounded-circle bg-white mb-50px box-shadow-quadruple-large"><i class="bi bi-arrow-right-short text-dark-gray icon-medium lh-0px"></i></a>
                            <a href="#" class="alt-font fs-18 fw-500 lette text-white d-block text-uppercase">Mexico</a>
                        </div>
                        <div class="box-overlay bg-dark-gray"></div>
                    </figcaption>
                </figure>
            </div>
            <!-- end interactive banners item -->
            <!-- start interactive banners item -->
            <div class="col text-center interactive-banner-style-01">
                <figure class="m-0 position-relative hover-box border-radius-6px overflow-hidden">
                    <img src="https://via.placeholder.com/600x600" alt="" />
                    <div class="position-absolute top-0px left-0px w-100 h-100 bg-gradient-dark-transparent opacity-5"></div>
                    <figcaption class="w-100 h-100 d-flex flex-column justify-content-end align-items-center p-30px">
                        <div class="position-relative z-index-1">
                            <a href="#" class="d-flex justify-content-center align-items-center mx-auto icon-box w-70px h-70px rounded-circle bg-white mb-50px box-shadow-quadruple-large"><i class="bi bi-arrow-right-short text-dark-gray icon-medium lh-0px"></i></a>
                            <a href="#" class="alt-font fs-18 fw-500 lette text-white d-block text-uppercase">Egypt</a>
                        </div>
                        <div class="box-overlay bg-dark-gray"></div>
                    </figcaption>
                </figure>
            </div>
            <!-- end interactive banners item -->
        </div>
    </div>
</section>
