<section class="p-0 overflow-hidden mt-0">
    <div class="container">
        <div class="row g-0 counter-style-04" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
            <div class="col-lg-12 text-end ">
                <p class="fw-400 fst-italic">(*) Đơn vị tính VNĐ</p>
            </div>
            <div class="col-lg-4 col-md-6 feature-box text-start hover-box border-start sm-border border-color-extra-medium-gray ps-35px pe-35px pt-25px pb-25px lg-ps-25px lg-pe-25px md-ps-35px md-pe-35px md-mb-50px sm-mb-30px">
                <div class="feature-box-content">
                    <h3 class="text-primary mb-10 sm-mb-10 fw-500 w-100 fs-20 lh-28">{{block.tuaDe1}}</h3>
                    <h5 class="fw-500 ls-minus-1px text-dark-gray m-0">{{block.noiDung1}}</h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 feature-box text-start hover-box border-start sm-border border-color-extra-medium-gray ps-35px pe-35px pt-25px pb-25px lg-ps-25px lg-pe-25px md-ps-35px md-pe-35px md-mb-50px sm-mb-30px">
                <div class="feature-box-content">
                    <p class="text-primary mb-10 sm-mb-10 fw-500 w-100 fs-20 lh-28">{{block.tuaDe2}}</p>
                    <h5 class="fw-500 ls-minus-1px text-dark-gray m-0">{{block.noiDung2}}</h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 feature-box text-start hover-box border-start sm-border border-color-extra-medium-gray ps-35px pe-35px pt-25px pb-25px lg-ps-25px lg-pe-25px md-ps-35px md-pe-35px md-mb-50px sm-mb-30px">
                <div class="feature-box-content">
                    <p class="text-primary mb-10 sm-mb-10 fw-500 w-100 fs-20 lh-28">{{block.tuaDe3}}</p>
                    {# <h2 class="vertical-counter d-inline-flex text-dark-gray fw-700 ls-minus-2px mt-25 mb-0 ls-minus-1px" data-text="+" data-to="8500"><sup class="text-jade top-0"><i class="feather icon-feather-arrow-up icon-extra-medium"></i></sup></h2> #}
                    <h5 class="fw-500 ls-minus-1px text-dark-gray m-0">{{block.noiDung3}}</h5>
                </div>
            </div>
        </div>
    </div>
</section>

