<section class="bg-spring-wood pb-0">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-6 col-lg-6 md-mb-50px text-center text-lg-start" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                {# <span class="bg-solitude-blue text-uppercase fs-13 ps-25px pe-25px alt-font fw-600 text-base-color lh-40 sm-lh-55 border-radius-100px d-inline-block mb-25px">Flexible pricing</span> #}
                <h3 class="text-primary fw-600 ls-minus-1px">{{block.tuaDe}}</h3>
                <p>{{block.noiDung}}</p>
            </div>
            <div class="col-xl-6 col-lg-6 position-relative">
                <div class="accordion pricing-table-style-04" id="accordion-style-01" data-active-icon="fa-angle-up" data-inactive-icon="fa-angle-down" data-anime='{"el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    {% for nganhNghe in block.dsNganhNghe%}
                        {% if loop.first %}
                            <div class="accordion-item bg-white active-accordion box-shadow-quadruple-large mb-20px">
                                <div class="accordion-header">
                                    <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-{{nganhNghe.id}}" aria-expanded="true" data-bs-parent="#accordion-style-01">
                                        <div class="accordion-title fs-20 position-relative d-flex align-items-center pe-20px text-dark fw-600 mb-0">{{nganhNghe.tenNganhNghe}}<span class="icon-round bg-dark-gray text-white w-25px h-25px"><i class="fa-solid fa-angle-up"></i></span></div>
                                    </a>
                                </div>
                                <div id="accordion-{{nganhNghe.id}}" class="accordion-collapse collapse show" data-bs-parent="#accordion-style-01">
                                    <div class="accordion-body last-paragraph-no-margin">
                                        <p class="w-90 fw-400 text-justify ">{{nganhNghe.noiDung}}</p>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="accordion-item bg-white box-shadow-quadruple-large mb-20px">
                                <div class="accordion-header">
                                    <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-{{nganhNghe.id}}" aria-expanded="false" data-bs-parent="#accordion-style-01">
                                        <div class="fs-20 accordion-title position-relative d-flex align-items-center pe-20px text-dark-gray fw-600 mb-0 alt-font">{{nganhNghe.tenNganhNghe}}<span class="icon-round bg-dark-gray text-white w-25px h-25px"><i class="fa-solid fa-angle-down"></i></span></div>
                                    </a>
                                </div>
                                <div id="accordion-{{nganhNghe.id}}" class="accordion-collapse collapse" data-bs-parent="#accordion-style-01">
                                    <div class="accordion-body last-paragraph-no-margin">
                                        <p class="text-justify  w-100 fw-400">{{nganhNghe.noiDung}}</p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
