
<section class="bg-spring-wood">
    <div class="container">
        {# <div class="row mb-5 md-mb-50px sm-mb-40px align-items-center">
            <div class="col-lg-5 md-mb-35px text-center text-lg-start">
                <h3 class="text-primary fw-600 mb-0 text-dark-gray ls-minus-2px sm-ls-minus-1px" data-anime='{ "el": "lines", "translateY": [30, 0], "opacity": [0,1], "delay": 0, "staggervalue": 250, "easing": "easeOutQuad" }'>{{block.tuaDe}}</h3>
            </div>
            <div class="col-xl-6 col-lg-7 offset-xl-1 text-center text-lg-start">
                <div class="row align-items-center">
                    <div class="col fancy-text-box-style-01 border-color-extra-medium-gray p-0">
                        <div class="text-box-wrapper align-items-center d-flex">
                            <div class="position-relative text-center w-100">
                                <div class="text-box last-paragraph-no-margin p-14">
                                    <i class="line-icon-Factory-2 icon-extra-large d-block mb-20px text-base-color"></i>
                                    <span class="text-dark-gray fw-600 fs-22 lg-fs-20">{{block.tuaDeNhaMay}}</span>
                                </div>
                                <div class="text-box-hover p-10 lg-p-12 md-p-17 sm-p-5 xs-p-5">
                                    <p class="mb-5px">{{block.noiDungNhaMay}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col fancy-text-box-style-01 border-color-extra-medium-gray p-0">
                        <div class="text-box-wrapper align-items-center d-flex">
                            <div class="position-relative text-center w-100">
                                <div class="text-box last-paragraph-no-margin p-14">
                                    <i class="ti-map-alt icon-extra-large d-block mb-20px text-base-color"></i>
                                    <span class="text-dark-gray fw-600 fs-22 lg-fs-20">{{block.tuaDeThiTruong}}</span>
                                </div>
                                <div class="text-box-hover p-10 lg-p-12 md-p-17 sm-p-5 xs-p-5">
                                    <p class="mb-5px">{{block.noiDungThiTruong}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> #}
        <div class="row mb-5 md-mb-50px sm-mb-40px align-items-center">
            <div class="col-xl-12 col-lg-12 text-center text-lg-start">
                <div class="row align-items-center">
                    <div class="col fancy-text-box-style-01 border-color-extra-medium-gray p-0">
                        <div class="text-box-wrapper align-items-center d-flex">
                            <div class="position-relative text-center w-100">
                                <div class="text-box last-paragraph-no-margin p-14">
                                    <i class="line-icon-Factory-2 icon-extra-large d-block mb-20px text-base-color"></i>
                                    <span class="text-dark-gray fw-600 fs-22 lg-fs-20">{{block.tuaDeNhaMay}}</span>
                                </div>
                                <div class="text-box-hover p-10 lg-p-12 md-p-17 sm-p-5 xs-p-5">
                                    <p class="mb-5px">{{block.noiDungNhaMay}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col text-center text-lg-center">
                        <h3 class="text-primary fw-600 mb-0 text-dark-gray ls-minus-2px sm-ls-minus-1px" data-anime='{ "el": "lines", "translateY": [30, 0], "opacity": [0,1], "delay": 0, "staggervalue": 250, "easing": "easeOutQuad" }'>{{block.tuaDe}}</h3>
                    </div>
                    <div class="col fancy-text-box-style-01 border-color-extra-medium-gray p-0">
                        <div class="text-box-wrapper align-items-center d-flex">
                            <div class="position-relative text-center w-100">
                                <div class="text-box last-paragraph-no-margin p-14">
                                    <i class="ti-map-alt icon-extra-large d-block mb-20px text-base-color"></i>
                                    <span class="text-dark-gray fw-600 fs-22 lg-fs-20">{{block.tuaDeThiTruong}}</span>
                                </div>
                                <div class="text-box-hover p-10 lg-p-12 md-p-17 sm-p-5 xs-p-5">
                                    <p class="mb-5px">{{block.noiDungThiTruong}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center" data-anime='{ "el": "childs", "translateY": [0, 0], "opacity": [0,1], "duration": 1200, "delay": 150, "staggervalue": 300, "easing": "easeOutQuad" }'>
            <div class="col-xl-3 col-lg-4 col-md-12 tab-style-05 md-mb-30px sm-mb-20px">
                <ul class="nav nav-tabs justify-content-center border-0 text-left fw-500 fs-18 alt-font">
                    {% for sanPham in block.dsSanPham%}
                      {% set tenClass = loop.first ? ' active' : ''%}
                        <li class="nav-item"><a data-bs-toggle="tab" href="#tab_{{sanPham.id}}" class="nav-link d-flex align-items-center {{tenClass}}"><i class="line-icon-Tree-4 icon-extra-medium text-dark-gray"></i><span>{{sanPham.tenSanPham}}</span></a></li>
                    {% endfor %}

                </ul>
                <!-- end tab navigation -->
            </div>
            <div class="col-xl-9 col-lg-8 col-md-12">
                <div class="tab-content">
                    <!-- start tab content -->
                    {% for sanPham in block.dsSanPham %}
                    {% set tenClass = loop.first ? ' active show' : ''%}
                    <div class="tab-pane fade in {{tenClass}}" id="tab_{{sanPham.id}}">
                        <div class="row align-items-center">
                            <div class="col-md-6 offset-xl-1 sm-mb-30px">
                                <img src="{{sanPham.image|media}}" alt="" class="border-radius-6px w-100" />
                            </div>
                            <div class="col-xl-4 col-md-6 offset-xl-1 text-center text-md-start">
                                <span class="fs-18 fw-600 text-base-color mb-25px d-flex align-items-center justify-content-center justify-content-md-start"><span class="text-center w-60px h-60px d-flex justify-content-center align-items-center rounded-circle bg-white box-shadow-medium-bottom align-middle me-15px flex-shrink-0"><i class="line-icon-Tree-4 fs-22"></i></span>{{sanPham.tenSanPham}}</span>
                                <h5 class=" text-dark-gray mb-20px fw-500 ls-minus-1px">{{sanPham.tuaDeSanPham}}</h5>
                                <p>{{sanPham.noiDung}}</p>
                                {% if sanPham.links != '' %}
                                    <a href="{{sanPham.link}}" class="btn btn-large btn-box-shadow btn-rounded btn-base-color mt-10px">Xem thêm</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- end tab content -->
                </div>
            </div>
        </div>
    </div>
</section>
