     {# {{d(danhSachFile)}}
    {% for nam, groupByNamItems in danhSachFile %}
        {{d(groupByNamItems)}}
    {% endfor %} #}
<table class="table table-hover table-border-10px table-striped w-100"  table-type="table-quy" id="{{tableId}}">
    <thead class="table-light">
        <tr>
            <th class="align-middle text-start text-nowrap" data-priority="1">Văn bản</th>
            <th class="align-middle text-start" >Năm</th>
            <th class="align-middle text-center" data-priority="2">Quý I</th>
            <th class="align-middle text-center" data-priority="3">Quý II/<br />Bán niên</th>
            <th class="align-middle text-center text-nowrap" data-priority="5">Quý III</th>
            <th class="align-middle text-center" data-priority="5">Quý IV/<br>Cả năm</th>
        </tr>
    </thead>
    <tbody>
        {% for nam, groupByNamItems in danhSachFile %}

            {% set namDuLieu = ''%}
            {% set duLieuQuy1 = ''%}
            {% set duLieuQuy2 = ''%}
            {% set duLieuQuy3 = ''%}
            {% set duLieuQuy4 = ''%}

            {% for tenFile, items in groupByNamItems %}
                {% for file in items %}
                    {% set namDuLieu = 'Năm ' ~ file.nam_du_lieu|date('Y') %}
                    {% if file.quy_du_lieu == 1%}
                        {% set duLieuQuy1 = '<a target="_blank" download="' ~ file.file.fileName ~ '" href="' ~ file.file.url ~ '" /><span class="badge rounded-pill bg-base-color fs-12 ">' ~ (file.ngay_dang|date('d/m/Y')) ~ '<i class="ms-5px feather icon-feather-download align-middle icon-small "></i></span></a>' %}
                    {% endif %}
                    {% if file.quy_du_lieu == 2 %}
                        {% set duLieuQuy2 = '<a target="_blank"  download="' ~ file.file.fileName ~ '" href="' ~ file.file.url ~ '" /><span class="badge rounded-pill bg-primary fs-12 ">' ~ (file.ngay_dang|date('d/m/Y')) ~ '<i class="ms-5px feather icon-feather-download align-middle icon-small "></i></span></a>' %}
                    {% endif %}
                    {% if file.quy_du_lieu == 3%}
                        {% set duLieuQuy3 = '<a target="_blank" download="' ~ file.file.fileName ~ '" href="' ~ file.file.url ~ '" /><span class="badge rounded-pill bg-green fs-12 ">' ~ (file.ngay_dang|date('d/m/Y')) ~ '<i class="ms-5px feather icon-feather-download align-middle icon-small "></i></span></a>' %}
                    {% endif %}
                    {% if file.quy_du_lieu == 4%}
                        {% set duLieuQuy4 = '<a target="_blank" download="' ~ file.file.fileName ~ '" href="' ~ file.file.url ~ '" /><span class="badge rounded-pill bg-red fs-12 ">' ~ (file.ngay_dang|date('d/m/Y')) ~ '<i class="ms-5px feather icon-feather-download align-middle icon-small "></i></span></a>' %}
                    {% endif %}
                {% endfor %}
                <tr>
                    <td class="text-start">{{ tenFile }}</td>
                    <td class="text-center">{{ namDuLieu }}</td>
                    <td class="text-center">{{ duLieuQuy1|raw }}</td>
                    <td class="text-center">{{ duLieuQuy2|raw }}</td>
                    <td class="text-center">{{ duLieuQuy3|raw }}</td>
                    <td class="text-center">{{ duLieuQuy4|raw }}</td>
                </tr>
                {% set namDuLieu = ''%}
                {% set duLieuQuy1 = ''%}
                {% set duLieuQuy2 = ''%}
                {% set duLieuQuy3 = ''%}
                {% set duLieuQuy4 = ''%}
            {% endfor %}

        {% endfor %}
    </tbody>
</table>
