<div class="row row-cols-1 row-cols-xl-3 row-cols-md-2 row-cols-sm-2 justify-content-start" data-anime='{ "el": "childs", "translateX": [30, 0], "opacity": [0,1], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'>
    <!-- start interactive banner item -->
    {% for file in danhSachFile %}
        <div class="col interactive-banner-style-05 lg-mb-30px position-relative z-index-1">
            <div class="atropos" data-atropos data-atropos-perspective="1450">
                {# <a href="{{file.file.url}}" target="_blank" class="position-absolute z-index-1 top-0px left-0px h-100 w-100"></a> #}
                <div class="atropos-scale">
                    <div class="atropos-rotate">
                        <div class="atropos-inner">
                            <figure class="m-0 hover-box overflow-hidden position-relative border-radius-10px " data-atropos-offset="3">
                                <img class="w-100" src="{{file.anh_dai_dien|media}}" alt="" />
                                <figcaption class="d-flex flex-column align-items-start justify-content-center position-absolute left-0px top-0px w-100 h-100 z-index-1 p-5 xl-p-10 last-paragraph-no-margin">
                                    <div class="mb-auto bg-base-color fw-600 text-white text-uppercase border-radius-30px ps-20px pe-20px fs-16 ms-auto" >{{file.nam_du_lieu|date('Y')}}</div>
                                    <span class="text-white fw-500 fs-20 sm-lh-26 xs-lh-28 sm-mb-5px">{{file.ten}}</span>
                                    {# <p class="text-white opacity-6 fs-18">Innovative solutions</p> #}
                                    <div class="d-flex align-items-center justify-content-between w-100">
                                        {% if file.file2  %}
                                        <a href="{{file.file.url}}" class="text-base-color  fs-18"  target="_blank">
                                            <span class="badge rounded-pill bg-primary fs-12 ">Tải trang đơn<i class="ms-5px fa-regular fa-file-pdf align-middle icon-small"></i></span>
                                        </a>
                                        <a href="{{file.file2.url}}" class="text-base-color  fs-18"  target="_blank">
                                            <span class="badge rounded-pill bg-base-color fs-12 ">Tải trang đôi<i class="ms-5px fa-regular fa-file-pdf align-middle icon-small"></i></span>
                                        </a>
                                        {% else %}
                                         <a href="{{file.file.url}}" class="text-base-color  fs-18"  target="_blank">
                                            <span class="badge rounded-pill bg-primary fs-12 ">Tải trang đơn<i class="ms-5px fa-regular fa-file-pdf align-middle icon-small"></i></span>
                                        </a>
                                        {% endif %}
                                    </div>
                                    <div class="position-absolute left-0px top-0px w-100 h-100 bg-gradient-gray-light-dark-transparent z-index-minus-1 opacity-9"></div>
                                    <div class="box-overlay bg-gradient-gray-light-dark-transparent z-index-minus-1"></div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# <div class="col">
            <div class="row g-0 services-box-style-02 border-radius-6px overflow-hidden">
                <div class="col-6 services-box bg-spring-wood p-10 xxl-p-8 xl-p-6">
                    <div class="services-box-icon">
                        <i class="line-icon-Basket-Coins icon-extra-large text-tussock-yellow mb-25px"></i>
                    </div>
                    <div class="services-box-content">
                        <a href="#" class="d-inline-block alt-font text-dark-gray text-dark-gray-hover fs-19 fw-600">{{file.ten}}</a>
                        <p class="sm-mb-15px">{{file.mo_ta}}</p>
                        <a href="#" class="btn btn-large thin btn-link text-tussock-yellow fw-600">Learn more</a>
                    </div>
                </div>
                <div class="col-6 services-box-img">
                    <div class="h-100 cover-background" style="background-image: url('{{file.anh_dai_dien|media}}')"></div>
                </div>
            </div>
        </div> #}
    {% endfor %}
</div>
