
<a class="tin-tuc-item" href="{{ 'tin-tuc'|page({slug: tinTuc.slug}) }}">
    <div class="card tin-tuc-card h-100">
        <img src="{{ tinTuc.banner.path }}" class="card-img-top" alt="..." />
        <div class="card-body d-fex flex-column">
            <p class="card-date text-dark-gray">{{ tinTuc.published_at_date|date('j/m/Y') }}</p>
            <h5 class="card-title">{{ tinTuc.title }}</h5>
            <p class="card-text">{{ tinTuc.featured_text }}</p>
            <div class="d-flex flex-wrap  ">
                {% for category in tinTuc.categories %}
                    <div class="d-inline-flex align-items-center justify-content-center border-radius-50px bg-very-light-gray h-40px me-5px ">
                        <div class="overflow-hidden border-radius-50px w-30px  h-30px m-5px" style="background-color: {{category.color}};"></div>
                        <span class="ms-0 me-10px fs-14 text-dark-gray fw-500" style=" white-space: nowrap;">{{category.title}}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</a>
