{% set random_number = random(1, 100) %}
<div class="card border-0 border-radius-4px box-shadow-extra-large box-shadow-extra-large-hover h-100">
    <div class="blog-image">
        <a href="{{'tin-tuc'|page({ slug: tinTuc.slug })}}" class="d-block"><img src="{{tinTuc.banner.path}}" alt=" {{ tinTuc.featured_text }}" /></a>
    </div>
    <div class="card-body p-5">
        <a href="{{'tin-tuc'|page({ slug: tinTuc.slug })}}" class="card-title mb-15px fw-600 fs-17 lh-26 text-primary text-base-color-hover d-inline-block">{{ str_limit(tinTuc.title,70,'...') }}</a>
        <p class="text-black lh-22">{{ str_limit(tinTuc.featured_text, 90,'...') }}</p>
        <div class="author d-flex justify-content-center align-items-center position-relative overflow-hidden fs-14 text-uppercase">
            <div class="me-auto">
                <span class="fw-500 d-inline-block">{{ tinTuc.published_at_date|date('j/m/Y') }}</span>
                {# <div class="d-inline-block author-name">By <a href="blog-classic.html" class="text-dark-gray text-dark-gray-hover text-decoration-line-bottom fw-600">Den viliamson</a></div> #}
            </div>
            <div class="like-count">
               <i class="me-5px fa-regular fa-heart text-red d-inline-block"></i><span class="text-dark-gray align-middle fw-600">{{random_number}}</span>
            </div>
        </div>
    </div>
</div>
