<section class="cover-background pt-50px pb-35px" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-7 position-relative blockquote-style-02 text-center">
                <!-- start blockquote -->
                <i class="ti-quote-left text-tussock-yellow icon-extra-large mb-15px d-inline-block"></i>
                <h3 class="text-black mb-20px fw-500 w-90 mx-auto">{{block.noiDung}}</h3>
                <div class="text-uppercase alt-font text-tussock-yellow fw-600 fs-14 ls-1px">- {{block.tacGia}} -</div>
                <!-- end blockquote -->
            </div>
        </div>
    </div>
</section>


