<section class="bg-gradient-very-light-gray position-relative">
    <div class="background-position-center-top position-absolute top-0 left-0px w-100 h-100" style="background-image: url('{{'assets/images/vertical-line-bg-medium-gray.svg'|theme}}')"></div>
    <div class="container position-relative">
        <div class="row justify-content-center mb-2">
            <div class="col-auto col-xxl-5 col-lg-7 col-sm-9 d-flex align-items-center justify-content-center">
                <span class="fs-40 text-primary flex-shrink-0 fw-800 me-35px" data-bottom-top="transform:scale(1.3, 1.3);" data-top-bottom="transform:scale(1, 1);">{{block.tuaDe}}</span>
                {# <h2 class="text-dark-gray fw-700 ls-minus-2px m-0">{{block.noiDung}}</h2> #}
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-3 row-cols-sm-2 justify-content-center" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
            {% for soLieu in block.dsSoLieu %}
             <div class="col icon-with-text-style-07 transition-inner-all md-mb-30px">
                <div class="bg-white feature-box h-100 justify-content-start box-shadow-quadruple-large box-shadow-quadruple-large-hover text-start p-17 sm-p-14 border-radius-10px">
                    <div class="feature-box-icon mb-30px">
                         <img src="{{soLieu.image|media}}" class="w-150px" alt="">
                    </div>
                    <div class="feature-box-content">
                        <span class="d-inline-block fw-600 text-dark-gray fs-24 ls-minus-05px counter counter-number" data-speed="2000" data-to="{{soLieu.soLieu}}"></span>
                        <p class="mb-10px">{{soLieu.noiDung}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
