{% if block.image %}
<section class="pb-0">
   <div class="container">
        <div class="row">
            <div class="col-12 ">
                 <img src="{{block.image|media}}" class="border-radius-10px img-fluid object-fit-contain w-100" alt="{{block.tuaDe}}" />
            </div>
        </div>
   </div>
</section>
{% endif %}
<section class="{{block.image ? 'pb-0 ps-15px pe-15px ' : 'pb-0 ps-15px pe-15px pt-0'}}">
    <div class="container">
        <div class="row mt-10px">
            <div class="col-12 col-md-9">
                <h3 class="text-primary fs-32 fw-700 ">{{block.tuaDe}}</h3>
                <div class="image-box-style2-noidung">
                {{block.noiDung|raw}}
                </div>
            </div>
        </div>
    </div>`
</section>
