{# <section class="py-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9 last-paragraph-no-margin" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                {{block.noiDung|raw}}
            </div>
        </div>
    </div>
</section> #}

<section class="py-0">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
                {{block.noiDung|raw}}
            </div>
        </div>
    </div>
</section>

