<section class="overflow-hidden "  id="{{block.content_group}}-{{block.id}}">
    <div class="container-fluid p-0">
        <div class="row g-0 bg-very-light-gray">
            <div class="col-xl-3 col-lg-4 col-md-5 tab-style-07 d-flex align-items-start align-items-xl-center">
                <ul class="nav nav-tabs justify-content-center border-0 text-left fs-22 md-fs-19 fw-500">
                    {% for noiDung in block.dsNoiDung%}
                    <li class="nav-item">
                        <a data-bs-toggle="tab" href="#tab_noiDung_{{noiDung.id}}" class="nav-link {{loop.first ? 'active' : ''}}">
                            <span><span class="me-10px fs-22 fw-500">{{loop.index < 10 ? '0'~loop.index : loop.index }}</span>{{noiDung.tuaDe}}</span>
                            <span class="number-box d-flex justify-content-center align-items-center rounded-circle h-70px w-70px bg-tussock-yellow text-white"><i class="bi bi-arrow-right icon-extra-medium"></i></span>
                            <span class="bg-hover bg-tussock-yellow"></span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-7">
                <div class="tab-content h-100">
                    {% for noiDung in block.dsNoiDung%}
                    <div class="tab-pane fade in {{loop.first ? 'active show' : ''}}" id="tab_noiDung_{{noiDung.id}}">
                        <div class="row align-items-center">
                            <div class="col-xl-6">
                                <img src="{{noiDung.image|media}}" alt="" class="border-radius-6px w-100" />
                            </div>
                            <div class="col-xl-6 bg-very-light-gray pt-6 pb-6 ps-8 pe-8 ">
                                {# <span class="fs-18 fw-500 text-base-color mb-25px d-flex align-items-center justify-content-center justify-content-md-start"><span class="text-center w-60px h-60px d-flex justify-content-center align-items-center rounded-circle bg-white box-shadow-medium-bottom align-middle me-15px flex-shrink-0"><i class="feather icon-feather-briefcase fs-22"></i></span>Grow and succeed</span> #}
                                {# <h5 class="alt-font text-dark-gray mb-20px fw-500 ls-minus-1px"><span class="fw-600">Work together</span> to make experience</h5> #}
                                <p class="text-black">{{noiDung.noiDung}}</p>
                                {# <a href="#" class="btn btn-large btn-box-shadow btn-rounded btn-base-color mt-10px">Explore now</a> #}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

