<section class="overflow-hidden "  id="{{block.content_group}}-{{block.id}}">
    <div class="container-fluid p-0">
         <div class="row justify-content-center mb-3">
            <div class="col-lg-8 text-center" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 900, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <h2 class="text-primary fw-700">{{block.tuaDe}}</h2>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-md-4 tab-style-07 d-flex align-items-start align-items-xl-center">
                <ul class="nav nav-tabs justify-content-center border-0 text-left fs-22 md-fs-19 fw-500 sm-ps-25px sm-pe-25px" >
                    {% for noiDung in block.dsNoiDung%}
                    <li class="nav-item">
                        <a data-bs-toggle="tab" href="#tab_noiDung_{{noiDung.id}}" class="nav-link {{loop.first ? 'active' : ''}}">
                            <span><span class="me-10px fs-22 fw-500">{{loop.index < 10 ? '0'~loop.index : loop.index }}</span>{{noiDung.tuaDe}}</span>
                            <span class="number-box d-flex justify-content-center align-items-center rounded-circle h-70px w-70px bg-base-color text-white"><i class="bi bi-arrow-right icon-extra-medium"></i></span>
                            <span class="bg-hover bg-base-color"></span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-8">
                <div class="tab-content h-10 sm-ps-25px pe-25px">
                    {% for noiDung in block.dsNoiDung%}
                    <div class="tab-pane fade in {{loop.first ? 'active show' : ''}}" id="tab_noiDung_{{noiDung.id}}">
                        <div class="row align-items-center">
                            <div class="col-md-6 ">
                                <img src="{{noiDung.image|media}}" alt="" class="border-radius-6px w-100" />
                            </div>
                            <div class="col-md-6 ps-20px pt-20px pb-20px pe-6">
                                <p class="text-black text-justify">{{noiDung.noiDung}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

