<section class="overflow-hidden "  id="{{block.content_group}}-{{block.id}}">
    <div class="container-fluid p-0">
        <div class="row g-0 bg-very-light-gray">
            <div class="col-xl-3 col-lg-4 col-md-5 tab-style-07 d-flex align-items-start align-items-xl-center">
                <ul class="nav nav-tabs justify-content-center border-0 text-left fs-22 md-fs-19 fw-500">
                    {% for noiDung in block.dsNoiDung%}
                    <li class="nav-item">
                        <a data-bs-toggle="tab" href="#tab_noiDung_{{noiDung.id}}" class="nav-link {{loop.first ? 'active' : ''}}">
                            <span><span class="me-10px fs-22 fw-500">{{loop.index < 10 ? '0'~loop.index : loop.index }}</span>{{noiDung.tuaDe}}</span>
                            <span class="number-box d-flex justify-content-center align-items-center rounded-circle h-70px w-70px bg-tussock-yellow text-white"><i class="bi bi-arrow-right icon-extra-medium"></i></span>
                            <span class="bg-hover bg-tussock-yellow"></span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-7">
                <div class="tab-content h-100">
                    {% for noiDung in block.dsNoiDung%}
                    <div class="tab-pane fade in {{loop.first ? 'active show' : ''}}" id="tab_noiDung_{{noiDung.id}}">
                        <div class="row align-items-center">
                            <div class="col-xl-6">
                                <img src="{{noiDung.image|media}}" alt="" class="border-radius-6px w-100" />
                            </div>
                            <div class="col-xl-6 bg-very-light-gray pt-6 pb-6 ps-8 pe-8 ">
                                {# <span class="fs-18 fw-500 text-base-color mb-25px d-flex align-items-center justify-content-center justify-content-md-start"><span class="text-center w-60px h-60px d-flex justify-content-center align-items-center rounded-circle bg-white box-shadow-medium-bottom align-middle me-15px flex-shrink-0"><i class="feather icon-feather-briefcase fs-22"></i></span>Grow and succeed</span> #}
                                {# <h5 class="alt-font text-dark-gray mb-20px fw-500 ls-minus-1px"><span class="fw-600">Work together</span> to make experience</h5> #}
                                <p class="text-black">{{noiDung.noiDung}}</p>
                                {# <a href="#" class="btn btn-large btn-box-shadow btn-rounded btn-base-color mt-10px">Explore now</a> #}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{# <section class="big-section ">
    <div class="container">
        <div class="row justify-content-center mb-2">
            <div class="col-xxl-5 col-xl-6 col-lg-8 col-md-10 text-center">
                <h3 class="fw-600  ls-minus-1px md-ls-0px">Carousel loop</h3>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-12 position-relative swiper-dark-pagination">
                <div class="swiper" data-slider-options='{ "slidesPerView": 1, "spaceBetween": 30, "loop": true, "autoplay": { "delay": 1600, "disableOnInteraction": false }, "pagination": { "el": ".swiper-pagination-bullets-03", "clickable": true, "dynamicBullets": false }, "navigation": { "nextEl": ".slider-one-slide-next-02", "prevEl": ".slider-one-slide-prev-02" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "992": { "slidesPerView": 3 }, "768": { "slidesPerView": 3 }, "480": { "slidesPerView": 2 }, "320": { "slidesPerView": 1 } }, "effect": "slide" }'>
                    <div class="swiper-wrapper align-items-center">
                        <!-- start carousal item -->
                        <div class="swiper-slide">
                            <div class="services-box-style-01 hover-box last-paragraph-no-margin">
                                <div class="position-relative box-image">
                                    <a href="https://www.youtube.com/" target="_blank">
                                          <img class="w-100" src="https://via.placeholder.com/420x500" alt="" />
                                        <span class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-90px h-90px md-w-70px md-h-70px rounded-circle bg-base-color"><i class="bi bi-youtube text-white icon-very-medium"></i></span>
                                    </a>
                                </div>
                                <div class="ps-8 pe-8 pt-5 text-center">
                                    <span class="fs-19 d-inline-block text-white fw-600">Artscape theatre</span>
                                    <p>Live performance in USA</p>
                                </div>
                            </div>
                        </div>
                        <!-- end carousal item -->
                        <!-- start carousal item -->
                        <div class="swiper-slide">
                            <div class="services-box-style-01 hover-box last-paragraph-no-margin">
                                <div class="position-relative box-image">
                                    <a href="https://www.youtube.com/" target="_blank">
                                          <img class="w-100" src="https://via.placeholder.com/420x500" alt="" />
                                        <span class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-90px h-90px md-w-70px md-h-70px rounded-circle bg-base-color"><i class="bi bi-youtube text-white icon-very-medium"></i></span>
                                    </a>
                                </div>
                                <div class="ps-8 pe-8 pt-5 text-center">
                                    <span class="fs-19 d-inline-block text-white fw-600">Artscape theatre</span>
                                    <p>Live performance in USA</p>
                                </div>
                            </div>
                        </div>
                        <!-- end carousal item -->
                        <!-- start carousal item -->
                        <div class="swiper-slide">
                            <div class="services-box-style-01 hover-box last-paragraph-no-margin">
                                <div class="position-relative box-image">
                                    <a href="https://www.youtube.com/" target="_blank">
                                          <img class="w-100" src="https://via.placeholder.com/420x500" alt="" />
                                        <span class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-90px h-90px md-w-70px md-h-70px rounded-circle bg-base-color"><i class="bi bi-youtube text-white icon-very-medium"></i></span>
                                    </a>
                                </div>
                                <div class="ps-8 pe-8 pt-5 text-center">
                                    <span class="fs-19 d-inline-block text-white fw-600">Artscape theatre</span>
                                    <p>Live performance in USA</p>
                                </div>
                            </div>
                        </div>
                        <!-- end carousal item -->
                        <!-- start carousal item -->
                        <div class="swiper-slide">
                            <div class="services-box-style-01 hover-box last-paragraph-no-margin">
                                <div class="position-relative box-image">
                                    <a href="https://www.youtube.com/" target="_blank">
                                          <img class="w-100" src="https://via.placeholder.com/420x500" alt="" />
                                        <span class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-90px h-90px md-w-70px md-h-70px rounded-circle bg-base-color"><i class="bi bi-youtube text-white icon-very-medium"></i></span>
                                    </a>
                                </div>
                                <div class="ps-8 pe-8 pt-5 text-center">
                                    <span class="fs-19 d-inline-block text-white fw-600">Artscape theatre</span>
                                    <p>Live performance in USA</p>
                                </div>
                            </div>
                        </div>
                        <!-- end carousal item -->
                    </div>
                </div>
                <!-- start slider navigation -->
                <div class="slider-one-slide-prev-02 bg-transparent border border-2 h-50px w-50px swiper-button-prev slider-navigation-style-03 bg-base-color"><i class="fa-solid fa-arrow-left text-primary"></i></div>
                <div class="slider-one-slide-next-02 bg-transparent border border-2  h-50px w-50px swiper-button-next slider-navigation-style-03 bg-base-color"><i class="fa-solid fa-arrow-right text-primary"></i></div>
                <!-- end slider navigation -->
                <!-- start slider pagination -->
                <div class="swiper-pagination swiper-pagination-bullets-03 swiper-pagination-style-01 swiper-pagination-clickable swiper-pagination-bullets position-static mt-40px sm-mt-25px"></div>
                <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-style-01 swiper-pagination-bullets-01 position-static mt-40px"></div>
                <!-- end slider pagination -->
            </div>
        </div>
    </div>
</section> #}

<section class="bg-very-light-gray">
    <div class="container">
        <div class="row justify-content-center mb-3">
            <div class="col-md-10 text-center">
                <h3 class="fw-600 text-dark-gray ls-minus-1px md-ls-0px">Video về sản phẩm chuối</h3>
            </div>
        </div>
        <div class="row">
            {# <div class="col-md-12 mb-40px sm-mb-30px">
                <div class="swiper" data-slider-options='{ "slidesPerView": 1, "spaceBetween": 30, "loop": true, "navigation": { "nextEl": ".slider-one-slide-next-08", "prevEl": ".slider-one-slide-prev-08" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "992": { "slidesPerView": 1 }, "768": { "slidesPerView": 1 }, "320": { "slidesPerView": 1 } }, "effect": "slide" }'>
                    <div class="swiper-wrapper align-items-center">
                        <!-- start carousal item -->
                        <div class="swiper-slide">
                            <div class="overflow-visible position-relative">
                                <div class="border-radius-6px h-650px md-h-450px sm-h-350px d-flex align-items-end justify-content-center overflow-hidden cover-background" style="background-image: url('https://via.placeholder.com/1190x700')">
                                    <div class="opacity-very-light bg-dark-gray"></div>
                                </div>
                                <div class="position-absolute top-0px left-0px w-100 h-100 z-index-9">
                                    <a href="https://www.youtube.com/watch?v=cfXHhfNy7tU" class="absolute-middle-center text-center rounded-circle video-icon-box video-icon-extra-large popup-youtube">
                                        <span>
                                            <span class="video-icon bg-yellow">
                                                <i class="fa-solid fa-play text-dark-gray"></i>
                                                <span class="video-icon-sonar">
                                                    <span class="video-icon-sonar-bfr bg-yellow opacity-9"></span>
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end carousal item -->
                        <!-- start carousal item -->
                        <div class="swiper-slide">
                            <div class="overflow-visible position-relative">
                                <div class="border-radius-6px h-650px md-h-450px sm-h-350px d-flex align-items-end justify-content-center overflow-hidden cover-background" style="background-image: url('https://via.placeholder.com/1190x700')">
                                    <div class="opacity-very-light bg-dark-gray"></div>
                                </div>
                                <div class="position-absolute top-0px left-0px w-100 h-100 z-index-9">
                                    <a href="https://www.youtube.com/watch?v=cfXHhfNy7tU" class="absolute-middle-center text-center rounded-circle video-icon-box video-icon-extra-large popup-youtube">
                                        <span>
                                            <span class="video-icon bg-yellow">
                                                <i class="fa-solid fa-play text-dark-gray"></i>
                                                <span class="video-icon-sonar">
                                                    <span class="video-icon-sonar-bfr bg-yellow opacity-9"></span>
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end carousal item -->
                        <!-- start carousal item -->
                        <div class="swiper-slide">
                            <div class="overflow-visible position-relative">
                                <div class="border-radius-6px h-650px md-h-450px sm-h-350px d-flex align-items-end justify-content-center overflow-hidden cover-background" style="background-image: url('https://via.placeholder.com/1190x700')">
                                    <div class="opacity-very-light bg-dark-gray"></div>
                                </div>
                                <div class="position-absolute top-0px left-0px w-100 h-100 z-index-9">
                                    <a href="https://www.youtube.com/watch?v=cfXHhfNy7tU" class="absolute-middle-center text-center rounded-circle video-icon-box video-icon-extra-large popup-youtube">
                                        <span>
                                            <span class="video-icon bg-yellow">
                                                <i class="fa-solid fa-play text-dark-gray"></i>
                                                <span class="video-icon-sonar">
                                                    <span class="video-icon-sonar-bfr bg-yellow opacity-9"></span>
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end carousal item -->
                    </div>
                    <!-- start slider navigation -->
                    <div class="slider-one-slide-prev-08 swiper-button-prev bg-white-transparent-very-light text-white h-50px w-50px slider-navigation-style-01"><i class="fa-solid fa-angle-left"></i></div>
                    <div class="slider-one-slide-next-08 swiper-button-next bg-white-transparent-very-light text-white h-50px w-50px slider-navigation-style-01"><i class="fa-solid fa-angle-right"></i></div>
                    <!-- end slider navigation -->
                </div>
            </div> #}
            <div class="col-md-12 mb-40px sm-mb-30px">
                <div class="swiper swiper-light-pagination" data-slider-options='{ "slidesPerView": 1, "spaceBetween": 30, "loop": false, "navigation": { "nextEl": ".slider-one-slide-next-08", "prevEl": ".slider-one-slide-prev-08" }, "pagination": { "el": ".swiper-pagination-bullets-07", "clickable": true, "dynamicBullets": false }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "992": { "slidesPerView": 1 }, "768": { "slidesPerView": 1 }, "320": { "slidesPerView": 1 } }, "effect": "slide" }'>
                    <div class="swiper-wrapper align-items-center">
                        <div class="swiper-slide">
                            <div class="overflow-visible position-relative">
                                <div class="border-radius-6px h-650px md-h-450px sm-h-350px d-flex align-items-end justify-content-center overflow-hidden cover-background" style="background-image: url('https://via.placeholder.com/1190x700')">
                                    <div class="opacity-very-light bg-dark-gray"></div>
                                </div>
                                <div class="position-absolute top-0px left-0px w-100 h-100 z-index-9">
                                    <a href="https://www.youtube.com/watch?v=pr7YF6z6XaU" class="absolute-middle-center text-center rounded-circle video-icon-box video-icon-extra-large popup-youtube">
                                        <span>
                                            <span class="video-icon bg-yellow">
                                                <i class="fa-solid fa-play text-dark-gray"></i>
                                                <span class="video-icon-sonar">
                                                    <span class="video-icon-sonar-bfr bg-yellow opacity-9"></span>
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="overflow-visible position-relative">
                                <div class="border-radius-6px h-650px md-h-450px sm-h-350px d-flex align-items-end justify-content-center overflow-hidden cover-background" style="background-image: url('https://via.placeholder.com/1190x700')">
                                    <div class="opacity-very-light bg-dark-gray"></div>
                                </div>
                                <div class="position-absolute top-0px left-0px w-100 h-100 z-index-9">
                                    <a href="https://www.youtube.com/watch?v=pr7YF6z6XaU" class="absolute-middle-center text-center rounded-circle video-icon-box video-icon-extra-large popup-youtube">
                                        <span>
                                            <span class="video-icon bg-yellow">
                                                <i class="fa-solid fa-play text-dark-gray"></i>
                                                <span class="video-icon-sonar">
                                                    <span class="video-icon-sonar-bfr bg-yellow opacity-9"></span>
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="overflow-visible position-relative">
                                <div class="border-radius-6px h-650px md-h-450px sm-h-350px d-flex align-items-end justify-content-center overflow-hidden cover-background" style="background-image: url('https://via.placeholder.com/1190x700')">
                                    <div class="opacity-very-light bg-dark-gray"></div>
                                </div>
                                <div class="position-absolute top-0px left-0px w-100 h-100 z-index-9">
                                    <a href="https://www.youtube.com/watch?v=pr7YF6z6XaU" class="absolute-middle-center text-center rounded-circle video-icon-box video-icon-extra-large popup-youtube">
                                        <span>
                                            <span class="video-icon bg-yellow">
                                                <i class="fa-solid fa-play text-dark-gray"></i>
                                                <span class="video-icon-sonar">
                                                    <span class="video-icon-sonar-bfr bg-yellow opacity-9"></span>
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-one-slide-prev-08 swiper-button-prev bg-white-transparent-very-light text-white h-50px w-50px slider-navigation-style-01"><i class="fa-solid fa-angle-left"></i></div>
                    <div class="slider-one-slide-next-08 swiper-button-next bg-white-transparent-very-light text-white h-50px w-50px slider-navigation-style-01"><i class="fa-solid fa-angle-right"></i></div>
                    <!-- start slider pagination -->
                    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-style-1 swiper-pagination-bullets-07"></div>
                    <!-- end slider pagination -->
                </div>
            </div>
        </div>
    </div>
</section>
