[collection dsTinTuc]
handle = "Blog\Post"
==
{% set dsTinMoiNhat = []%}
{% for category in block.categories %}
    {% set dsTinTheoCatelogies = dsTinTuc.whereRelation('categories','slug',category.slug).latest().first() %}
    {% if dsTinTheoCatelogies is not  empty %}
        {% set dsTinMoiNhat = dsTinMoiNhat|merge([dsTinTheoCatelogies])%}
    {% endif %}
{% endfor %}
{% set bgImage = 'assets/images/vertical-line-bg.svg'|theme %}
<section class="background-position-center-top sm-background-image-none" style="background-image: url({{bgImage}})" id="{{block.content_group}}-{{block.id}}">
    <div class="container">
        <div class="row align-items-center mb-4" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
            <div class="col-md-6 text-center text-md-start sm-mb-20px">
                <h2 class="fw-600 text-dark-gray mb-0 ls-minus-3px text-primary">{{block.tuaDe}}</h2>
            </div>
            {% if block.lienKet %}
            <div class="col-md-6 text-center text-md-end">
                <a href="{{block.lienKet|link}}" class="btn btn-large btn-expand-ltr text-dark-gray btn-rounded fw-700"><span class="bg-base-color text-primary"></span>{{'Xem tất cả'|_}}</a>
            </div>
            {% endif %}
        </div>
        <div class="row gy-3 row-cols-1 row-cols-lg-3" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
            {% if block.kieuHienThi == 'basic'%}
                {% for tinTuc in dsTinMoiNhat %}
                    {% partial 'elements/tin-tuc-card-basic' tinTuc=tinTuc%}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
