{# <section id="videos" class="overflow-hidden position-relative bg-dark-gray p-0">
        <div class="background-position-left-top h-100 w-100 position-absolute left-0px top-0 d-none d-md-block" style="background-image: url('images/demo-music-onepage-vertical-line-bg.svg')"></div>
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-12 text-center z-index-1">
                    <h2 class="alt-font text-white text-uppercase">Latest videos</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="outside-box-right-15 outside-box-left-15">
                        <div class="swiper swiper-dark-pagination swiper-line-pagination-style-01 magic-cursor light text-slider-style-05" data-slider-options='{ "slidesPerView": 1, "spaceBetween": 30, "loop": true, "autoplay": { "delay": 3000, "disableOnInteraction": false }, "pagination": { "el": ".swiper-line-pagination", "clickable": true }, "navigation": { "nextEl": ".slider-three-slide-next", "prevEl": ".slider-three-slide-prev" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "992": { "slidesPerView": 3 }, "768": { "slidesPerView": 3 }, "320": { "slidesPerView": 1 } }, "effect": "slide" }'>
                            <div class="swiper-wrapper">
                                <!-- start slider item -->
                                <div class="swiper-slide">
                                    <div class="services-box-style-01 hover-box last-paragraph-no-margin">
                                        <div class="position-relative box-image">
                                            <a href="https://www.youtube.com/" target="_blank">
                                                <img src="https://via.placeholder.com/755x520" alt="">
                                                <span class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-90px h-90px md-w-70px md-h-70px rounded-circle bg-base-color"><i class="bi bi-youtube text-white icon-very-medium"></i></span>
                                            </a>
                                        </div>
                                        <div class="ps-8 pe-8 pt-5 text-center">
                                            <span class="fs-19 d-inline-block text-white fw-600">Artscape theatre</span>
                                            <p>Live performance in USA</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- end slider item -->
                                <!-- start slider item -->
                                <div class="swiper-slide">
                                    <div class="services-box-style-01 hover-box last-paragraph-no-margin">
                                        <div class="position-relative box-image">
                                            <a href="https://www.youtube.com/" target="_blank">
                                                <img src="https://via.placeholder.com/755x520" alt="">
                                                <span class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-90px h-90px md-w-70px md-h-70px rounded-circle bg-base-color"><i class="bi bi-youtube text-white icon-very-medium"></i></span>
                                            </a>
                                        </div>
                                        <div class="ps-8 pe-8 pt-5 text-center">
                                            <span class="fs-19 d-inline-block text-white fw-600">Suels academy</span>
                                            <p>Live performance in Brussels</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- end slider item -->
                                <!-- start slider item -->
                                <div class="swiper-slide">
                                    <div class="services-box-style-01 hover-box last-paragraph-no-margin">
                                        <div class="position-relative box-image">
                                            <a href="https://www.youtube.com/" target="_blank">
                                                <img src="https://via.placeholder.com/755x520" alt="">
                                                <span class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-90px h-90px md-w-70px md-h-70px rounded-circle bg-base-color"><i class="bi bi-youtube text-white icon-very-medium"></i></span>
                                            </a>
                                        </div>
                                        <div class="ps-8 pe-8 pt-5 text-center">
                                            <span class="fs-19 d-inline-block text-white fw-600">Seun kologbi</span>
                                            <p>Live performance in France</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- end slider item -->
                                <!-- start slider item -->
                                <div class="swiper-slide">
                                    <div class="services-box-style-01 hover-box last-paragraph-no-margin">
                                        <div class="position-relative box-image">
                                            <a href="https://www.youtube.com/" target="_blank">
                                                <img src="https://via.placeholder.com/755x520" alt="">
                                                <span class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-90px h-90px md-w-70px md-h-70px rounded-circle bg-base-color"><i class="bi bi-youtube text-white icon-very-medium"></i></span>
                                            </a>
                                        </div>
                                        <div class="ps-8 pe-8 pt-5 text-center">
                                            <span class="fs-19 d-inline-block text-white fw-600">Halloween bitchy</span>
                                            <p>Live performance in London</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- end slider item -->
                                    <!-- start slider item -->
                                <div class="swiper-slide">
                                    <div class="services-box-style-01 hover-box last-paragraph-no-margin">
                                        <div class="position-relative box-image">
                                            <a href="https://www.youtube.com/" target="_blank">
                                                <img src="https://via.placeholder.com/755x520" alt="">
                                                <span class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-90px h-90px md-w-70px md-h-70px rounded-circle bg-base-color"><i class="bi bi-youtube text-white icon-very-medium"></i></span>
                                            </a>
                                        </div>
                                        <div class="ps-8 pe-8 pt-5 text-center">
                                            <span class="fs-19 d-inline-block text-white fw-600">Artscape theatre</span>
                                            <p>Live performance in USA</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- end slider item -->
                                <!-- start slider item -->
                                <div class="swiper-slide">
                                    <div class="services-box-style-01 hover-box last-paragraph-no-margin">
                                        <div class="position-relative box-image">
                                            <a href="https://www.youtube.com/" target="_blank">
                                                <img src="https://via.placeholder.com/755x520" alt="">
                                                <span class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-90px h-90px md-w-70px md-h-70px rounded-circle bg-base-color"><i class="bi bi-youtube text-white icon-very-medium"></i></span>
                                            </a>
                                        </div>
                                        <div class="ps-8 pe-8 pt-5 text-center">
                                            <span class="fs-19 d-inline-block text-white fw-600">Suels academy</span>
                                            <p>Live performance in Brussels</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- end slider item -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section> #}


<section class="bg-very-light-gray">
    <div class="container">
        <div class="row justify-content-center mb-3">
            <div class="col-md-10 text-center">
                <h3 class="fw-600 text-primary">{{block.tuaDe}}</h3>
            </div>
        </div>
        <div class="row">
            {# <div class="col-md-12 mb-40px sm-mb-30px">
                <div class="swiper" data-slider-options='{ "slidesPerView": 1, "spaceBetween": 30, "loop": true, "navigation": { "nextEl": ".slider-one-slide-next-08", "prevEl": ".slider-one-slide-prev-08" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "992": { "slidesPerView": 1 }, "768": { "slidesPerView": 1 }, "320": { "slidesPerView": 1 } }, "effect": "slide" }'>
                    <div class="swiper-wrapper align-items-center">
                        <!-- start carousal item -->
                        <div class="swiper-slide">
                            <div class="overflow-visible position-relative">
                                <div class="border-radius-6px h-650px md-h-450px sm-h-350px d-flex align-items-end justify-content-center overflow-hidden cover-background" style="background-image: url('https://via.placeholder.com/1190x700')">
                                    <div class="opacity-very-light bg-dark-gray"></div>
                                </div>
                                <div class="position-absolute top-0px left-0px w-100 h-100 z-index-9">
                                    <a href="https://www.youtube.com/watch?v=cfXHhfNy7tU" class="absolute-middle-center text-center rounded-circle video-icon-box video-icon-extra-large popup-youtube">
                                        <span>
                                            <span class="video-icon bg-yellow">
                                                <i class="fa-solid fa-play text-dark-gray"></i>
                                                <span class="video-icon-sonar">
                                                    <span class="video-icon-sonar-bfr bg-yellow opacity-9"></span>
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end carousal item -->
                        <!-- start carousal item -->
                        <div class="swiper-slide">
                            <div class="overflow-visible position-relative">
                                <div class="border-radius-6px h-650px md-h-450px sm-h-350px d-flex align-items-end justify-content-center overflow-hidden cover-background" style="background-image: url('https://via.placeholder.com/1190x700')">
                                    <div class="opacity-very-light bg-dark-gray"></div>
                                </div>
                                <div class="position-absolute top-0px left-0px w-100 h-100 z-index-9">
                                    <a href="https://www.youtube.com/watch?v=cfXHhfNy7tU" class="absolute-middle-center text-center rounded-circle video-icon-box video-icon-extra-large popup-youtube">
                                        <span>
                                            <span class="video-icon bg-yellow">
                                                <i class="fa-solid fa-play text-dark-gray"></i>
                                                <span class="video-icon-sonar">
                                                    <span class="video-icon-sonar-bfr bg-yellow opacity-9"></span>
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end carousal item -->
                        <!-- start carousal item -->
                        <div class="swiper-slide">
                            <div class="overflow-visible position-relative">
                                <div class="border-radius-6px h-650px md-h-450px sm-h-350px d-flex align-items-end justify-content-center overflow-hidden cover-background" style="background-image: url('https://via.placeholder.com/1190x700')">
                                    <div class="opacity-very-light bg-dark-gray"></div>
                                </div>
                                <div class="position-absolute top-0px left-0px w-100 h-100 z-index-9">
                                    <a href="https://www.youtube.com/watch?v=cfXHhfNy7tU" class="absolute-middle-center text-center rounded-circle video-icon-box video-icon-extra-large popup-youtube">
                                        <span>
                                            <span class="video-icon bg-yellow">
                                                <i class="fa-solid fa-play text-dark-gray"></i>
                                                <span class="video-icon-sonar">
                                                    <span class="video-icon-sonar-bfr bg-yellow opacity-9"></span>
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end carousal item -->
                    </div>
                    <!-- start slider navigation -->
                    <div class="slider-one-slide-prev-08 swiper-button-prev bg-white-transparent-very-light text-white h-50px w-50px slider-navigation-style-01"><i class="fa-solid fa-angle-left"></i></div>
                    <div class="slider-one-slide-next-08 swiper-button-next bg-white-transparent-very-light text-white h-50px w-50px slider-navigation-style-01"><i class="fa-solid fa-angle-right"></i></div>
                    <!-- end slider navigation -->
                </div>
            </div> #}
            <div class="col-md-12 mb-40px sm-mb-30px">
                <div class="swiper swiper-light-pagination" data-slider-options='{ "slidesPerView": 1, "spaceBetween": 30, "loop": false, "navigation": { "nextEl": ".slider-one-slide-next-08", "prevEl": ".slider-one-slide-prev-08" }, "pagination": { "el": ".swiper-pagination-bullets-07", "clickable": true, "dynamicBullets": false }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "992": { "slidesPerView": 1 }, "768": { "slidesPerView": 1 }, "320": { "slidesPerView": 1 } }, "effect": "slide" }'>
                    <div class="swiper-wrapper align-items-center">
                        {% for noiDung in block.dsNoiDung %}
                        <div class="swiper-slide">
                            <div class="overflow-visible position-relative">
                                <div class="border-radius-6px h-650px md-h-450px sm-h-350px d-flex align-items-end justify-content-center overflow-hidden cover-background" style="background-image: url('{{noiDung.image|media}}')">
                                    <div class="opacity-very-light bg-dark-gray"></div>
                                </div>
                                <div class="position-absolute top-0px left-0px w-100 h-100 z-index-9">
                                    <a href="{{noiDung.link}}" class="absolute-middle-center text-center rounded-circle video-icon-box video-icon-extra-large popup-youtube">
                                        <span>
                                            <span class="video-icon bg-base-color">
                                                <i class="fa-solid fa-play text-white"></i>
                                                <span class="video-icon-sonar">
                                                    <span class="video-icon-sonar-bfr bg-yellow opacity-9"></span>
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="slider-one-slide-prev-08 swiper-button-prev bg-white-transparent-very-light text-white h-50px w-50px slider-navigation-style-01"><i class="fa-solid fa-angle-left"></i></div>
                    <div class="slider-one-slide-next-08 swiper-button-next bg-white-transparent-very-light text-white h-50px w-50px slider-navigation-style-01"><i class="fa-solid fa-angle-right"></i></div>
                    <!-- start slider pagination -->
                    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-style-1 swiper-pagination-bullets-07"></div>
                    <!-- end slider pagination -->
                </div>
            </div>
        </div>
    </div>
</section>
