<section class="big-section pb-0">
    <div class="container">
        <div class="row g-0 position-relative z-index-1">
            <div class="col-12 position-relative overflow-hidden border-radius-6px h-700px lg-h-550px md-h-400px d-flex align-items-center justify-content-center">
                <video muted class="video-bg html-video border-radius-6px video-play-icon" poster="{{block.image|media}}">
                    <source type="video/mp4" src="{{block.videoLink|media}}">
                </video>
                <a href="javascript:void(0);" class="html-video-play video-icon-box video-icon-extra-large position-relative">
                    <span>
                        <span class="video-icon bg-white">
                            <i class="play-icon feather icon-feather-play text-dark-gray ms-0" aria-hidden="true"></i>
                            <i class="pause-icon feather icon-feather-pause text-dark-gray ms-0" aria-hidden="true"></i>
                            <span class="video-icon-sonar">
                                <span class="video-icon-sonar-bfr bg-white opacity-7"></span>
                            </span>
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>
