<section class="pb-0 ps-15px pe-15px">
    <div class="container  video-box-style2">
        <div class="card mb-3" >
            <div class="row g-0 ">
                <div class="col-md-6 text-center fit-videos">
                    <div class="fit-videos overflow-hidden">
                        <video autoplay="" muted="" loop="" controls="">
                            <source  src="{{block.videoLink|media}}" type="video/mp4">
                        </video>
                    </div>
                </div>
                <div class="col-md-6 image-box-body">
                    <div class="card-body ps-65px pe-65px pt-50px text-white ">
                        <h5 class="card-title fs-32 fw-700 mb-25px">{{block.tuaDe}}</h5>
                        <p class="card-text fs-24px ">{{block.noiDung}}</p>

                    </div>
                </div>
            </div>
        </div>
    </div>`
</section>
