url = "/san-pham/chuoi"
layout = "default"
title = "Sản phâm chuối HAGL"

[section pageSanPhamChuoi]
handle = "Hagl\SanPham\Chuoi"
==
{% partial 'app/page-title' pageBanner = pageSanPhamChuoi.pageBanner type = "parallax-bg" %}
{% if pageSanPhamChuoi.dsMenuItems %}
    {% partial 'app/page-submenu' menuItems = pageSanPhamChuoi.dsMenuItems  %}
{% endif %}
{% for block in pageSanPhamChuoi.blocks %}
    {% set blockType = block.type|split('_') %}
    {% if blockType[0] == 'dung-chung' %}
        {% partial 'blocks/dung-chung/' ~ blockType[1] block=block %}
    {% else %}
        {% partial 'blocks/gioi-thieu/' ~ str_slug(block.type) block=block %}
    {% endif %}
{% endfor %}
