<section class="overlap-height background-no-repeat background-position-left-top cover-background position-relative" style="background-image: url('{{'assets/images/chien-luoc-bg.jpeg'|theme}}')">
     <img src="{{block.image2|media}}" class="position-absolute top-10px d-none d-lg-inline-block" data-bottom-top="transform: translateY(-50px)" data-top-bottom="transform: translateY(120px)" alt="">
    <div class="container  overlap-gap-section">
        <div class="row justify-content-center mb-3 sm-mb-8">
            <div class="col-xl-7 col-lg-7 col-md-8 text-center last-paragraph-no-margin">
                <span class="fs-20 text-primary fw-600 mb-5px d-inline-block">{{block.tuaDe}}</span>
            </div>
        </div>
        <div class="row align-items-center justify-content-center ">
            <div class="col-lg-12 px-5 text-center ">
                {# <h3 class="alt-font fw-700 ls-minus-1px text-base-color">{{block.noiDung}}</h3> #}
                <span class="fs-30 text-base-color md-fs-70 sm-fs-60  fw-500 ls-minus-2px"
                data-fancy-text='{ "opacity": [0, 1], "translateY": [50, 0], "translateX": [50, 0], "filter": ["blur(20px)", "blur(0px)"], "string": ["{{block.noiDung}}"], "duration": 400, "delay": 0, "speed": 20, "easing": "easeOutQuad" }'></span>
            </div>
        </div>
    </div>
</section>
 <section class="big-section">
    <div class="container">
         <div class="row overlap-section justify-content-center g-0 mb-8">
            <div class="col-auto text-center last-paragraph-no-margin pt-20px pb-20px ps-60px pe-60px sm-ps-50px sm-pe-40px bg-cornflower-blue border-radius-100px xs-border-radius-30px">
                <div class="fs-19 text-white">Đoàn kết là sức mạnh <span class="fw-600">- HAGL Group - </span> Nông nghiệp tuần hoàn</div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-xxl-4 col-lg-5 md-mb-15 sm-mb-20 text-center text-lg-start">
                <h3 class="text-dark-gray fw-600 ls-minus-2px mb-40px text-primary">Chiến lược kinh doanh.</h3>
                <div class="row row-cols-1">
                    <!-- start process step item -->
                    <div class="col-12 process-step-style-05 position-relative hover-box">
                        <div class="process-step-item d-flex">
                            <div class="process-step-icon-wrap position-relative">
                                <div class="process-step-icon d-flex justify-content-center align-items-center mx-auto rounded-circle h-60px w-60px fs-16 bg-solitude-blue fw-600 position-relative">
                                    <span class="number position-relative z-index-1 text-dark-gray">01</span>
                                    <div class="box-overlay bg-base-color rounded-circle"></div>
                                </div>
                                <span class="progress-step-separator bg-dark-gray opacity-1"></span>
                            </div>
                            <div class="process-content ps-30px last-paragraph-no-margin mb-30px">
                                <span class="d-block fw-600 text-dark-gray mb-5px fs-18">Vận hành xuất sắc</span>
                                <p class="w-90 lg-w-100">Lorem ipsum amet consectetur eiusmod tempor incididunt.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end process step item -->
                    <!-- start process step item -->
                    <div class="col-12 process-step-style-05 position-relative hover-box">
                        <div class="process-step-item d-flex">
                            <div class="process-step-icon-wrap position-relative">
                                <div class="process-step-icon d-flex justify-content-center align-items-center mx-auto rounded-circle h-60px w-60px fs-16 bg-solitude-blue fw-600 position-relative">
                                    <span class="number position-relative z-index-1 text-dark-gray">02</span>
                                    <div class="box-overlay bg-base-color rounded-circle"></div>
                                </div>
                                <span class="progress-step-separator bg-dark-gray opacity-1"></span>
                            </div>
                            <div class="process-content ps-30px last-paragraph-no-margin mb-30px">
                                <span class="d-block fw-600 text-dark-gray mb-5px fs-18">Hài hoá</span>
                                <p class="w-90 lg-w-100">Lorem ipsum amet consectetur eiusmod tempor incididunt.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end process step item -->
                    <!-- start process step item -->
                    <div class="col-12 process-step-style-05 position-relative hover-box xs-mb-30px">
                        <div class="process-step-item d-flex">
                            <div class="process-step-icon-wrap position-relative">
                                <div class="process-step-icon d-flex justify-content-center align-items-center mx-auto rounded-circle h-60px w-60px fs-16 bg-solitude-blue fw-600 position-relative">
                                    <span class="number position-relative z-index-1 text-dark-gray">03</span>
                                    <div class="box-overlay bg-base-color rounded-circle"></div>
                                </div>
                            </div>
                            <div class="process-content ps-30px last-paragraph-no-margin">
                                <span class="d-block fw-600 text-dark-gray mb-5px fs-18">Gắn kết</span>
                                <p class="w-90 lg-w-100">Lorem ipsum amet consectetur eiusmod tempor incididunt.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end process step item -->
                </div>
            </div>
            <div class="col-lg-7 offset-xxl-1 position-relative md-mb-30px sm-mb-15">
                <img src="{{block.image1|media}}" class="position-relative z-index-0 top-40px" alt="">
                {# <img src="https://via.placeholder.com/144x64" class="position-absolute top-50px left-0px xs-left-15px" data-bottom-top="transform: translateY(-50px)" data-top-bottom="transform: translateY(50px)" alt="">
                <img src="https://via.placeholder.com/67x34" class="position-absolute top-150px left-50px" data-bottom-top="transform: translateY(30px)" data-top-bottom="transform: translateY(-30px)" alt="">
                <img src="https://via.placeholder.com/61x30" class="position-absolute top-50px right-50px" data-bottom-top="transform: translateY(-50px)" data-top-bottom="transform: translateY(50px)" alt="">
                <img src="https://via.placeholder.com/93x45" class="position-absolute top-100px right-0px xs-right-15px" data-bottom-top="transform: translateY(30px)" data-top-bottom="transform: translateY(-30px)" alt=""> #}
            </div>
        </div>
    </div>
</section>
