{# <section class="overlap-height background-no-repeat background-position-left-top cover-background position-relative" style="background-image: url('{{'assets/images/chien-luoc-bg.jpeg'|theme}}')">
     <img src="{{block.image1|media}}" class="position-absolute top-10px d-none d-lg-inline-block" data-bottom-top="transform: translateY(-50px)" data-top-bottom="transform: translateY(120px)" alt="">
    <div class="container  overlap-gap-section">
        <div class="row justify-content-center mb-3 sm-mb-8">
            <div class="col-xl-7 col-lg-7 col-md-8 text-center last-paragraph-no-margin">
                <span class="fs-20 text-primary fw-600 mb-5px d-inline-block">{{block.tuaDe}}</span>
            </div>
        </div>
        <div class="row align-items-center justify-content-center ">
            <div class="col-lg-12 px-5 text-center ">
                <span class="fs-30 text-base-color md-fs-70 sm-fs-60  fw-500 ls-minus-2px"
                data-fancy-text='{ "opacity": [0, 1], "translateY": [50, 0], "translateX": [50, 0], "filter": ["blur(20px)", "blur(0px)"], "string": ["{{block.noiDung}}"], "duration": 400, "delay": 0, "speed": 20, "easing": "easeOutQuad" }'></span>
            </div>
        </div>
    </div>
</section> #}
<section class=" background-no-repeat background-position-left-top cover-background position-relative" style="background-image: url('{{'assets/images/chien-luoc-bg.jpeg'|theme}}')">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-xl-3 col-lg-3 col-md-2 col-12 text-center">
                <img src="{{block.image1|media}}" class="image-fluid" alt="">
             </div>
            <div class="col-xl-9 col-lg-9 col-md-10">
                <div class="row justify-content-start align-items-center ">
                    <div class="col-xl-8 col-lg-8 col-md-9 text-center mb-40px ">
                        <span class="fs-20 text-primary fw-600 mb-5px d-inline-block">{{block.tuaDe}}</span>
                    </div>
                    <div class="col-lg-8 px-5 text-center ">
                        <span class="fs-30 text-base-color md-fs-70 sm-fs-60  fw-500 ls-minus-2px"
                        data-fancy-text='{ "opacity": [0, 1], "translateY": [50, 0], "translateX": [50, 0], "filter": ["blur(20px)", "blur(0px)"], "string": ["{{block.noiDung}}"], "duration": 400, "delay": 0, "speed": 20, "easing": "easeOutQuad" }'></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 <section class="p-0">
    <div class="container">
         <div class="row overlap-section justify-content-center g-0">
            <div class="col-auto text-center last-paragraph-no-margin pt-20px pb-20px ps-60px pe-60px sm-ps-50px sm-pe-40px bg-cornflower-blue border-radius-100px xs-border-radius-30px">
                <div class="fs-19 fw-700 text-white">{{block.sologan}}</div>
            </div>
        </div>
    </div>
 </section>

