[viewBag]
==
<?php

function onStart()
{
     // Anonymous Class only working on PHP7
    $this['code'] = new class {
        public function getHinhThucCongTy($key) {
            $dsHinhThuc = [
                "TSC" => "Trụ sở chính",
                "CN" => "Chi nhánh",
                "CTYCONTN" => "Công ty con trong nước",
                "CTYLKTN" => "Công ty liên kết trong nước",
                "CTYCONNN" => "Công ty con nước ngoài",
                "CTYLNNN" => "Công ty con liên kết nước ngoài",
            ];
            return $dsHinhThuc[$key];
        }
    };
}
?>
==

{% set dsLoaiCtyMe = block.dsDonVi.where('loaiCongTy','CTYME')%}
{% set dsLoaiCtyTN = block.dsDonVi.where('hinhThucCongTy','CTYCONTN')%}
{% set dsLoaiCtyLKTN = block.dsDonVi.where('hinhThucCongTy','CTYLKTN')%}
{% set dsLoaiCtyNN = block.dsDonVi.where('hinhThucCongTy','CTYCONNN')%}
{% set dsLoaiCtyLKNN = block.dsDonVi.where('hinhThucCongTy','CTYLKNN')%}

<section class="cover-background pb-0">
    <div class="container">
        <div class="row justify-content-center mb-3">
            <div class="col-lg-7 text-center">
                {# <span class="fs-15 fw-600 text-red text-uppercase mb-5px d-block"><span class="w-5px h-2px bg-red d-inline-block align-middle me-5px"></span>Choose delicious<span class="w-5px h-2px bg-red d-inline-block align-middle ms-5px"></span></span> #}
                <h2 class="alt-font fw-700 text-primary">{{block.tuaDe}}</h2>
            </div>
        </div>
        <div class="row mb-6 xs-mb-8">
            <div class="col tab-style-02 fs-600">
                <ul class="nav nav-tabs fs-18 fw-500 justify-content-center text-center mb-4 sm-mb-0" data-anime='{ "el": "childs", "rotateX": [30, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                    <li class="nav-item"><a class="nav-link active text-uppercase text-wrap text-primary" data-bs-toggle="tab" href="#tab_cty_me">
                    <span class=" d-block icon-small mb-10px ">
                        <img src="{{'assets/images/headquarter.png'|theme}}">
                    </span>{{"công ty mẹ"|_}}</a></li>
                    <li class="nav-item"><a class="nav-link text-uppercase text-wrap text-primary" data-bs-toggle="tab" href="#tab_cty_tn">
                        <span class=" d-block icon-large mb-10px ">
                            <img src="{{'assets/images/branch.png'|theme}}">
                        </span>{{"công ty con & liên kết trong nước"|_}}</a></li>
                    <li class="nav-item"><a class="nav-link text-uppercase text-primary" data-bs-toggle="tab" href="#tab_cty_nn">
                        <span class="d-block icon-large mb-10px text-black">
                            <img src="{{'assets/images/internation.png'|theme}}">
                        </span>{{"công ty con & liên kết nước ngoài"|_}}</a></li>
                </ul>
                <div class="tab-content">
                    <!-- start tab content -->
                    <div class="tab-pane fade in active show" id="tab_cty_me">
                        <div class="row">
                            <div class="col-12">
                                <div class="accordion" id="accordionCtyMe">
                                    {% for donVi in dsLoaiCtyMe %}
                                    <div class="accordion-item">
                                        <h2 class="accordion-header border-bottom " id="heading-{{donVi.id}}" >
                                            <button class="text-primary fw-700 fs-20 accordion-button {{loop.first ? '' : 'collapsed'}} ps-10px pe-10px pt-0 pb-0" type="button" data-bs-toggle="collapse" data-bs-target="#loai-cty-me-{{donVi.id}}" aria-expanded="true" aria-controls="loai-cty-me-{{donVi.id}}">
                                                {{code.getHinhThucCongTy(donVi.hinhThucCongTy)}}
                                            </button>
                                        </h2>
                                        <div id="loai-cty-me-{{donVi.id}}" class="accordion-collapse collapse {{loop.first ? 'show' : ''}}" aria-labelledby="heheading-{{donVi.id}}" data-bs-parent="#accordionCtyMe">
                                            <div class="accordion-body">
                                                <div class="card mb-3 w-100 border-0">
                                                    <div class="row g-0">
                                                        <div class="col-md-4 p-20px">
                                                            <img src="{{donVi.image|media}}" class="img-fluid border-radius-10px" alt="...">
                                                        </div>
                                                        <div class="col-md-8 p-20px">
                                                            <div class="card-body">
                                                                <p class="card-text">{{donVi.moTaCongTy}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12 ">
                                                            <div class="services-box-content shadow pt-25px pb-25px ps-50px pe-50px last-paragraph-no-margin border-radius-5px  ">
                                                                <span class="d-block text-primary  fw-700 fs-20 mb-10px">{{donVi.tenCongTy}}</span>
                                                                <div class="text-dark-gray fw-600"><i class="ti-location-pin icon-small me-10px text-primary"></i><a href="tel:12345678910">{{donVi.diaChi}}</a></div>
                                                                <div class="text-dark-gray fw-600"><i class="feather icon-feather-phone-call icon-small me-10px text-primary"></i><a href="tel:{{donVi.soDT}}">{{donVi.soDT}}</a></div>
                                                                {% if donVi.soFax %}
                                                                <div class="text-dark-gray fw-600"><i class="feather icon-feather-printer icon-small me-10px text-primary"></i><a href="tel:{{donVi.soFax}}">{{donVi.soFax}}</a></div>
                                                                {% endif %}
                                                                {% if donVi.email %}
                                                                <div class="text-dark-gray fw-600"><i class="ti-email icon-small me-10px text-primary"></i><a href="mail:{{donVi.email}}">{{donVi.email}}</a></div>
                                                                {% endif %}
                                                                {% if donVi.website%}
                                                                <div class="text-dark-gray fw-600"><i class="ti-world icon-small me-10px text-primary"></i><a href="http://{{donVi.website}}">{{donVi.website}}</a></div>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="tab_cty_tn">
                        <div class="row">
                            <div class="col-12">
                                <div class="accordion" id="accordion-trong-nuoc">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header border-bottom" id="headingOne">
                                        <button class="accordion-button text-primary fw-700 fs-20 ps-10px pe-10px pt-0 pb-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTrongNuoc1" aria-expanded="true" aria-controls="collapseTrongNuoc1">
                                            Công ty con trong trong nước
                                        </button>
                                        </h2>
                                        <div id="collapseTrongNuoc1" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion-trong-nuoc">
                                            <div class="accordion-body">
                                                <div class="row justify-content-center align-items-center ">
                                                    {% for donVi in  dsLoaiCtyTN %}
                                                    <div class="col-12">
                                                        <div class="card mb-3 w-100 border-0">
                                                            <div class="row g-0 justify-content-center align-items-center shadow rounded">
                                                                <div class="col-md-3 p-20px">
                                                                    <img src="{{donVi.image|media}}" class="img-fluid border-radius-10px" alt="...">
                                                                </div>
                                                                <div class="col-md-6 p-20px">
                                                                    <div class="card-body">
                                                                        <h3 class="fs-20 fw-700 text-primary mb-0">{{donVi.tenCongTy}}</h3>
                                                                        <p class="text-dark-gray fs-16 ">{{donVi.moTaCongTy}}</p>
                                                                        <hr>
                                                                        <div class="text-dark-gray fw-600"><i class="ti-location-pin icon-small me-10px text-primary"></i><a href="tel:12345678910">{{donVi.diaChi}}</a></div>
                                                                        <div class="text-dark-gray fw-600"><i class="feather icon-feather-phone-call icon-small me-10px text-primary"></i><a href="tel:{{donVi.soDT}}">{{donVi.soDT}}</a></div>
                                                                        {% if donVi.soFax %}
                                                                        <div class="text-dark-gray fw-600"><i class="feather icon-feather-printer icon-small me-10px text-primary"></i><a href="tel:{{donVi.soFax}}">{{donVi.soFax}}</a></div>
                                                                        {% endif %}
                                                                        {% if donVi.email %}
                                                                        <div class="text-dark-gray fw-600"><i class="ti-email icon-small me-10px text-primary"></i><a href="mail:{{donVi.email}}">{{donVi.email}}</a></div>
                                                                        {% endif %}
                                                                        {% if donVi.website%}
                                                                        <div class="text-dark-gray fw-600"><i class="ti-world icon-small me-10px text-primary"></i><a href="http://{{donVi.website}}">{{donVi.website}}</a></div>
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3 p-20px justify-content-center align-items-center d-flex flex-column">
                                                                    {% if donVi.imageTyLeSoHuu %}
                                                                    <img src="{{donVi.imageTyLeSoHuu|media}}" class="img-fluid border-radius-10px" alt="...">
                                                                    {% else %}
                                                                    <div class="chart-percent mb-20px">
                                                                        <span class="pie-chart-style-01 d-flex align-items-center justify-content-center" data-line-width="7" data-percent="{{donVi.tyLeSoHuuSo}}" data-track-color="#cccfe3" data-start-color="#1935dd" data-end-color="#6679ec">
                                                                                <span class="percent d-flex align-items-center justify-content-center fs-22 ls-minus-1px fw-600 text-base-color bg-gradient-extra-midium-gray-transparent box-shadow-double-large w-100px h-100px rounded-circle"></span>
                                                                            </span>
                                                                        </div>
                                                                        <div class="chart-text text-center text-dark-gray fw-600 fs-19">Tỷ lệ sở hữu</div>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% if dsLoaiCtyLKTN | length > 0 %}
                                    <div class="accordion-item">
                                        <h2 class="accordion-header border-bottom" id="headingTwo">
                                        <button class="accordion-button accordion-button text-primary fw-700 fs-20 ps-10px pe-10px pt-0 pb-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTrongNuoc2" aria-expanded="false" aria-controls="collapseTrongNuoc2">
                                            Công ty liên kết trong nước
                                        </button>
                                        </h2>
                                        <div id="collapseTrongNuoc2" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion-trong-nuoc">
                                            <div class="accordion-body">
                                                <div class="row justify-content-center align-items-center ">
                                                    {% for donVi in  dsLoaiCtyLKTN %}
                                                    <div class="col-12">
                                                        <div class="card mb-3 w-100 border-0">
                                                            <div class="row g-0 justify-content-center align-items-center shadow rounded">
                                                                <div class="col-md-3 p-20px">
                                                                    <img src="{{donVi.image|media}}" class="img-fluid border-radius-10px" alt="...">
                                                                </div>
                                                                <div class="col-md-6 p-20px">
                                                                    <div class="card-body">
                                                                        <h3 class="fs-20 fw-700 text-primary mb-0">{{donVi.tenCongTy}}</h3>
                                                                        <p class="text-dark-gray fs-16 ">{{donVi.moTaCongTy}}</p>
                                                                        <hr>
                                                                        <div class="text-dark-gray fw-600"><i class="ti-location-pin icon-small me-10px text-primary"></i><a href="tel:12345678910">{{donVi.diaChi}}</a></div>
                                                                        <div class="text-dark-gray fw-600"><i class="feather icon-feather-phone-call icon-small me-10px text-primary"></i><a href="tel:{{donVi.soDT}}">{{donVi.soDT}}</a></div>
                                                                        {% if donVi.soFax %}
                                                                        <div class="text-dark-gray fw-600"><i class="feather icon-feather-printer icon-small me-10px text-primary"></i><a href="tel:{{donVi.soFax}}">{{donVi.soFax}}</a></div>
                                                                        {% endif %}
                                                                        {% if donVi.email %}
                                                                        <div class="text-dark-gray fw-600"><i class="ti-email icon-small me-10px text-primary"></i><a href="mail:{{donVi.email}}">{{donVi.email}}</a></div>
                                                                        {% endif %}
                                                                        {% if donVi.website%}
                                                                        <div class="text-dark-gray fw-600"><i class="ti-world icon-small me-10px text-primary"></i><a href="http://{{donVi.website}}">{{donVi.website}}</a></div>
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3 p-20px justify-content-center align-items-center d-flex flex-column">
                                                                    {% if donVi.imageTyLeSoHuu %}
                                                                    <img src="{{donVi.imageTyLeSoHuu|media}}" class="img-fluid border-radius-10px" alt="...">
                                                                    {% else %}
                                                                    <div class="chart-percent mb-20px">
                                                                        <span class="pie-chart-style-01 d-flex align-items-center justify-content-center" data-line-width="7" data-percent="{{donVi.tyLeSoHuuSo}}" data-track-color="#cccfe3" data-start-color="#1935dd" data-end-color="#6679ec">
                                                                                <span class="percent d-flex align-items-center justify-content-center fs-22 ls-minus-1px fw-600 text-base-color bg-gradient-extra-midium-gray-transparent box-shadow-double-large w-100px h-100px rounded-circle"></span>
                                                                            </span>
                                                                        </div>
                                                                        <div class="chart-text text-center text-dark-gray fw-600 fs-19">Tỷ lệ sở hữu</div>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end tab content -->
                    <!-- start tab content -->
                    <div class="tab-pane fade in" id="tab_cty_nn">
                        <div class="row">
                            <div class="col-12">
                                <div class="accordion" id="accordion-nguoc-ngoai">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header border-bottom" id="headingCongTyNN">
                                            <button class="accordion-button text-primary fw-700 fs-20 ps-10px pe-10px pt-0 pb-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNguocNgoai1" aria-expanded="true" aria-controls="collapseNguocNgoai1">
                                                Công ty con nước ngoài
                                            </button>
                                        </h2>
                                        <div id="collapseNguocNgoai1" class="accordion-collapse collapse show" aria-labelledby="headingCongTyNN" data-bs-parent="#accordion-nguoc-ngoai">
                                            <div class="accordion-body">
                                                <div class="row justify-content-center align-items-center ">
                                                    {% for donVi in  dsLoaiCtyNN %}
                                                    <div class="col-12">
                                                        <div class="card mb-3 w-100 border-0">
                                                            <div class="row g-0 justify-content-center align-items-center shadow rounded">
                                                                <div class="col-md-3 p-20px">
                                                                    <img src="{{donVi.image|media}}" class="img-fluid border-radius-10px" alt="...">
                                                                </div>
                                                                <div class="col-md-6 p-20px">
                                                                    <div class="card-body">
                                                                        <h3 class="fs-20 fw-700 text-primary mb-0">{{donVi.tenCongTy}}</h3>
                                                                        <p class="text-dark-gray fs-16 ">{{donVi.moTaCongTy}}</p>
                                                                        <hr>
                                                                        <div class="text-dark-gray fw-600"><i class="ti-location-pin icon-small me-10px text-primary"></i><a href="tel:12345678910">{{donVi.diaChi}}</a></div>
                                                                        <div class="text-dark-gray fw-600"><i class="feather icon-feather-phone-call icon-small me-10px text-primary"></i><a href="tel:{{donVi.soDT}}">{{donVi.soDT}}</a></div>
                                                                        {% if donVi.soFax %}
                                                                        <div class="text-dark-gray fw-600"><i class="feather icon-feather-printer icon-small me-10px text-primary"></i><a href="tel:{{donVi.soFax}}">{{donVi.soFax}}</a></div>
                                                                        {% endif %}
                                                                        {% if donVi.email %}
                                                                        <div class="text-dark-gray fw-600"><i class="ti-email icon-small me-10px text-primary"></i><a href="mail:{{donVi.email}}">{{donVi.email}}</a></div>
                                                                        {% endif %}
                                                                        {% if donVi.website%}
                                                                        <div class="text-dark-gray fw-600"><i class="ti-world icon-small me-10px text-primary"></i><a href="http://{{donVi.website}}">{{donVi.website}}</a></div>
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3 p-20px justify-content-center align-items-center d-flex flex-column">
                                                                    <img src="{{donVi.imageTyLeSoHuu|media}}" class="img-fluid border-radius-10px" alt="...">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% if dsLoaiCtyLKNN | length > 0 %}
                                    <div class="accordion-item">
                                        <h2 class="accordion-header border-bottom" id="headingNuocNgoai2">
                                        <button class="accordion-button accordion-button text-primary fw-700 fs-20 ps-10px pe-10px pt-0 pb-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNuocNgoai2" aria-expanded="false" aria-controls="collapseNuocNgoai2">
                                            Công ty liên kết nước ngoài
                                        </button>
                                        </h2>
                                        <div id="collapseNuocNgoai2" class="accordion-collapse collapse" aria-labelledby="headingNuocNgoai2" data-bs-parent="#accordion-nguoc-ngoai">
                                            <div class="accordion-body">
                                                <div class="row justify-content-center align-items-center ">
                                                    {% for donVi in  dsLoaiCtyLKNN %}
                                                    <div class="col-12">
                                                        <div class="card mb-3 w-100 border-0">
                                                            <div class="row g-0 justify-content-center align-items-center shadow rounded">
                                                                <div class="col-md-3 p-20px">
                                                                    <img src="{{donVi.image|media}}" class="img-fluid border-radius-10px" alt="...">
                                                                </div>
                                                                <div class="col-md-6 p-20px">
                                                                    <div class="card-body">
                                                                        <h3 class="fs-20 fw-700 text-primary mb-0">{{donVi.tenCongTy}}</h3>
                                                                        <p class="text-dark-gray fs-16 ">{{donVi.moTaCongTy}}</p>
                                                                        <hr>
                                                                        <div class="text-dark-gray fw-600"><i class="ti-location-pin icon-small me-10px text-primary"></i><a href="#">{{donVi.diaChi}}</a></div>
                                                                        <div class="text-dark-gray fw-600"><i class="feather icon-feather-phone-call icon-small me-10px text-primary"></i><a href="tel:{{donVi.soDT}}">{{donVi.soDT}}</a></div>
                                                                        {% if donVi.soFax %}
                                                                        <div class="text-dark-gray fw-600"><i class="feather icon-feather-printer icon-small me-10px text-primary"></i><a href="tel:{{donVi.soFax}}">{{donVi.soFax}}</a></div>
                                                                        {% endif %}
                                                                        {% if donVi.email %}
                                                                        <div class="text-dark-gray fw-600"><i class="ti-email icon-small me-10px text-primary"></i><a href="mail:{{donVi.email}}">{{donVi.email}}</a></div>
                                                                        {% endif %}
                                                                        {% if donVi.website%}
                                                                        <div class="text-dark-gray fw-600"><i class="ti-world icon-small me-10px text-primary"></i><a href="http://{{donVi.website}}">{{donVi.website}}</a></div>
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3 p-20px justify-content-center align-items-center d-flex flex-column">
                                                                    {% if donVi.imageTyLeSoHuu %}
                                                                    <img src="{{donVi.imageTyLeSoHuu|media}}" class="img-fluid border-radius-10px" alt="...">
                                                                    {% else %}
                                                                    <div class="chart-percent mb-20px">
                                                                        <span class="pie-chart-style-01 d-flex align-items-center justify-content-center" data-line-width="7" data-percent="{{donVi.tyLeSoHuuSo}}" data-track-color="#cccfe3" data-start-color="#1935dd" data-end-color="#6679ec">
                                                                                <span class="percent d-flex align-items-center justify-content-center fs-22 ls-minus-1px fw-600 text-base-color bg-gradient-extra-midium-gray-transparent box-shadow-double-large w-100px h-100px rounded-circle"></span>
                                                                            </span>
                                                                        </div>
                                                                        <div class="chart-text text-center text-dark-gray fw-600 fs-19">Tỷ lệ sở hữu</div>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end tab content -->

                </div>
            </div>
        </div>
    </div>
</section>
