<section class="pt-0" style="background-image: url('{{'assets/images/vertical-line-bg-small-medium-gray.svg'|theme}}')">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-6 text-uppercase" data-anime='{ "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <div class="ps-5">
                    <div style="line-height: 200px;" class="fs-120 word-break-normal alt-font mb-10 md-mb-30px text-sliding-line bg-base-color ls-minus-5px" data-bottom-top="transform:scale(1, 1) translate3d(0px, 0px, 0px);" data-top-bottom="transform:scale(1, 1) translate3d(-60px, 0px, 0px);">{{block.tuaDe}}</div>
                </div>
            </div>
            <div class="col-12 col-lg-6 align-self-end text-center text-lg-start xs-mb-30px" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <h1 class="text-primary text-uppercase text-dark-gray mb-0 ls-minus-2px">{{block.noiDung}}</h1>
            </div>
        </div>
    </div>
    <div class="container pt-50px">
        <div class="row align-items-center row-cols-1 row-cols-lg-3 row-cols-md-2 justify-content-center mb-2" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
            <!-- start process step item -->
            <div class="col process-step-style-11 position-relative md-mb-70px">
                <div class="process-step-item d-flex align-items-start">
                    <div class="process-step-icon-wrap bg-sliding-line col-auto">
                        <span class="number fs-40 alt-font w-60px h-100px d-flex align-items-end justify-content-center text-concrete-gray lh-20">01</span>
                    </div>
                    <div class="process-content ps-35px xs-ps-25px last-paragraph-no-margin col text-center">
                        <span class="d-inline-block text-dark-gray fw-600 fs-19 mb-5px ls-minus-05px">{{block.dauMuc1}}</span>
                        <p class="w-100">{{block.noiDungdauMuc1}}</p>
                    </div>
                </div>
            </div>
            <!-- end process step item -->
            <!-- start process step item -->
            <div class="col process-step-style-11 position-relative md-mb-70px">
                <div class="process-step-item d-flex align-items-start">
                    <div class="process-step-icon-wrap bg-sliding-line col-auto">
                        <span class="number fs-40 alt-font w-60px h-100px d-flex align-items-end justify-content-center text-concrete-gray lh-20">02</span>
                    </div>
                    <div class="process-content ps-35px xs-ps-25px last-paragraph-no-margin col text-center">
                        <span class="d-inline-block text-dark-gray fw-600 fs-19 mb-5px ls-minus-05px">{{block.dauMuc2}}</span>
                        <p class="w-100">{{block.noiDungdauMuc2}}</p>
                    </div>
                </div>
            </div>
            <!-- end process step item -->
            <!-- start process step item -->
            <div class="col process-step-style-11 position-relative">
                <div class="process-step-item d-flex align-items-start">
                    <div class="process-step-icon-wrap bg-sliding-line col-auto">
                        <span class="number fs-40 alt-font w-60px h-100px d-flex align-items-end justify-content-center text-concrete-gray lh-20">03</span>
                    </div>
                    <div class="process-content ps-35px xs-ps-25px last-paragraph-no-margin col text-center">
                        <span class="d-inline-block text-dark-gray fw-600 fs-19 mb-5px ls-minus-05px">{{block.dauMuc3}}</span>
                        <p class="w-100">{{block.noiDungdauMuc3}}</p>
                    </div>
                </div>
            </div>
            <!-- end process step item -->
        </div>
    </div>
</section>
