{% set imageUrl = block.imageSoDo ? block.imageSoDo|media : 'assets/images/image_not_available_L.png'|theme %}
{# <section>
     <div class="container-fluid">
        <div class="row position-relative">
            <div class="col swiper swiper-width-auto text-center pb-10px sm-pb-0px" data-slider-options='{ "slidesPerView": "1", "spaceBetween":50, "speed": 10000, "loop": true, "allowTouchMove": false, "autoplay": { "delay":0, "disableOnInteraction": false, "reverseDirection": true }, "effect": "slide" }'>
                <div class="swiper-wrapper marquee-slide">
                    <!-- start client item -->
                    <div class="swiper-slide">
                        <div class="fs-120 xl-fs-120 sm-fs-80 text-base-color fw-600 ls-minus-5px sm-ls-minus-4px word-break-normal">Nông nghiệp tuần hoàn.</div>
                    </div>
                    <div class="swiper-slide">
                        <div class="fs-120 xl-fs-120 sm-fs-80 text-base-color fw-600 ls-minus-5px sm-ls-minus-4px word-break-normal">Nông nghiệp tuần hoàn.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> #}
<section class="overlap-height" >
    <div class="container-fluid p-0  overlap-gap-section">
        <div class="row align-items-center g-0">
            <div class="col-xl-6 col-lg-6 position-relative top-minus-2px md-mb-30px" data-anime='{ "effect": "slide", "color": "#d39121", "direction":"lr", "easing": "easeOutQuad", "duration": 600, "delay":500}'>
                <img src="{{block.image|media}}" class="border-radius-rb-50px" alt="">
            </div>
            <div class="col-xl-4 col-lg-6 offset-xl-1 lg-ps-15px lg-pe-15px text-center text-lg-start" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 300, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <h2 class="alt-font fw-400 text-primary w-75 xl-w-90 lg-w-100 ls-minus-1px">{{block.tuaDe}}</h2>
                <p class="mb-30px w-60 xl-w-90 lg-w-100 lg-mb-25px">{{block.noiDung}}</p>
            </div>
        </div>
    </div>
</section>
<section >
    <div class="container" >
        <div id="so-do-quan-tri" class="row justify-content-center align-items-center mb-5 sm-mb-30px" data-anime='{ "el": "childs", "translateY": [30, 1], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue":200, "easing": "easeOutQuad" }'>
            <div class="col-auto pe-25px border-2 border-end border-color-dark-gray sm-border-end-0 sm-pe-15px">
                <span class="fs-40 text-uppercase text-base-color fw-700 ls-1px">HAGL</span>
            </div>
            <div class="col-12 col-md-auto ps-25px sm-ps-15px text-center">
                <h3 class="fs-30 fw-400 text-primary ls-minus-1px mb-0">Sở đồ tổ chức</h3>
            </div>
        </div>
        <div class="row clients-style-04" data-anime='{"opacity": [0,1], "duration": 400, "delay": 300, "staggervalue": 300, "easing": "easeOutQuad" }'>
            <div class="col-lg-12">
                <div class="card shadow image-card-box">
                    <div class="card-body" >
                        <img class="img-fluid w-100" src="{{imageUrl}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-very-light-gray" >
    <div class="container d-flex flex-column he-thong-quan-tri-dinh-kem">
        {% for dinhKem in block.dsDinhKem %}
        <div class="row mb-30px">
                <div class="col-lg-3 sm-mb-10px ">
                    <a class="text-decoration-none" target="_blank" href="{{dinhKem.file.getPath()}}">
                        <img src="{{dinhKem.image|media}}"  class="border-radius-10px" >
                    </a>
                </div>
                <div class="col-lg-9">
                    <h3 class="lh-22 mb-0 fs-20 fw-700 text-primary">{{dinhKem.tuaDe}}</h3>
                    <p class="mt-10px mb-0 fs-16 text-black ">{{dinhKem.noiDung}}</p>
                </div>
        </div>
        {% endfor %}
    </div>
</section>
