{% set imageUrl = block.imageSoDo ? block.imageSoDo|media : 'assets/images/image_not_available_L.png'|theme %}
{# <section>
     <div class="container-fluid">
        <div class="row position-relative">
            <div class="col swiper swiper-width-auto text-center pb-10px sm-pb-0px" data-slider-options='{ "slidesPerView": "1", "spaceBetween":50, "speed": 10000, "loop": true, "allowTouchMove": false, "autoplay": { "delay":0, "disableOnInteraction": false, "reverseDirection": true }, "effect": "slide" }'>
                <div class="swiper-wrapper marquee-slide">
                    <!-- start client item -->
                    <div class="swiper-slide">
                        <div class="fs-120 xl-fs-120 sm-fs-80 text-base-color fw-600 ls-minus-5px sm-ls-minus-4px word-break-normal">Nông nghiệp tuần hoàn.</div>
                    </div>
                    <div class="swiper-slide">
                        <div class="fs-120 xl-fs-120 sm-fs-80 text-base-color fw-600 ls-minus-5px sm-ls-minus-4px word-break-normal">Nông nghiệp tuần hoàn.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> #}
<section class="overlap-height" >
    <div class="container-fluid p-0  overlap-gap-section">
        <div class="row align-items-center g-0">
            <div class="col-xl-6 col-lg-6 position-relative top-minus-2px md-mb-30px" data-anime='{ "effect": "slide", "color": "#f2e0dc", "direction":"lr", "easing": "easeOutQuad", "duration": 600, "delay":500}'>
                <img src="{{block.image|media}}" class="border-radius-rb-50px" alt="">
            </div>
            <div class="col-xl-4 col-lg-6 offset-xl-1 lg-ps-15px lg-pe-15px text-center text-lg-start" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 300, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <h2 class="alt-font fw-400 text-primary w-75 xl-w-90 lg-w-100 ls-minus-1px">{{block.tuaDe}}</h2>
                <p class="mb-30px w-60 xl-w-90 lg-w-100 lg-mb-25px">{{block.noiDung}}</p>
            </div>
        </div>
    </div>
</section>
<section class="bg-light-red  ">
    <div class="container" >
        <div class="row row-cols-1 row-cols-lg-2 mb-8 overlap-section" data-anime='{"el": "childs", "translateY": [30, 0], "perspective": [1200,1200], "scale": [1.05, 1], "rotateX": [30, 0], "opacity": [0,1], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'>
            <!-- start interactive banner item -->
            <div class="col interactive-banner-style-08 md-mb-30px">
                <figure class="m-0 hover-box overflow-hidden position-relative border-radius-6px">
                    <img src="{{block.imageMinhHoa1|media}}" alt="" />
                    <figcaption class="d-flex flex-column align-items-start justify-content-center position-absolute left-0px top-0px w-100 h-100 z-index-1 p-50px sm-p-6">
                        <div class="d-flex w-100 align-items-center mt-auto">
                            <span class="border border-2 border-color-transparent-white-very-light bg-transparent w-60px h-60px sm-w-50px sm-h-50px rounded-circle ms-auto position-relative">
                                <i class="bi bi-arrow-down-short absolute-middle-center icon-very-medium lh-0px text-white"></i>
                            </span>
                        </div>
                        <div class="position-absolute left-0px top-0px w-100 h-100 bg-gradient-gray-light-dark-transparent z-index-minus-1 opacity-9"></div>
                        <a href="#so-do-quan-tri" class="position-absolute z-index-1 top-0px left-0px h-100 w-100"></a>
                    </figcaption>
                </figure>
            </div>
            <!-- end interactive banner item -->
            <!-- start interactive banner item -->
            <div class="col interactive-banner-style-08 md-mb-30px">
                <figure class="m-0 hover-box overflow-hidden position-relative border-radius-6px">
                    <img src="{{block.imageMinhHoa2|media}}" alt="" />
                    <figcaption class="d-flex flex-column align-items-start justify-content-center position-absolute left-0px top-0px w-100 h-100 z-index-1 p-50px sm-p-6">
                        <div class="d-flex w-100 align-items-center mt-auto">
                            <span class="border border-2 border-color-transparent-white-very-light bg-transparent w-60px h-60px sm-w-50px sm-h-50px rounded-circle ms-auto position-relative">
                                <i class="bi bi-arrow-down-short absolute-middle-center icon-very-medium lh-0px text-white"></i>
                            </span>
                        </div>
                        <div class="position-absolute left-0px top-0px w-100 h-100 bg-gradient-gray-light-dark-transparent z-index-minus-1 opacity-9"></div>
                        <a href="#so-do-quan-tri" class="position-absolute z-index-1 top-0px left-0px h-100 w-100"></a>
                    </figcaption>
                </figure>
            </div>
            <!-- end interactive banner item -->
        </div>
        <div id="so-do-quan-tri" class="row justify-content-center align-items-center mb-5 sm-mb-30px" data-anime='{ "el": "childs", "translateY": [30, 1], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue":200, "easing": "easeOutQuad" }'>
            <div class="col-auto pe-25px border-2 border-end border-color-dark-gray sm-border-end-0 sm-pe-15px">
                <span class="fs-16 text-uppercase text-base-color fw-700 ls-1px">HAGL</span>
            </div>
            <div class="col-12 col-md-auto ps-25px sm-ps-15px text-center">
                <h3 class="alt-font fw-400 text-primary ls-minus-1px mb-0">Sở đồ tổ chức</h3>
            </div>
        </div>
        <div class="row clients-style-04" data-anime='{"opacity": [0,1], "duration": 400, "delay": 300, "staggervalue": 300, "easing": "easeOutQuad" }'>
            <div class="col-lg-12">
                <div class="card shadow image-card-box">
                    <div class="card-body" >
                        <img class="img-fluid w-100" src="{{imageUrl}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
