{% set lanhDaoId = 'nhan-su-' ~ block.lanhDao.id %}
<section class="bg-white pb-30px">
    <div class="container">
        <div class="row justify-content-center mb-3">
            <div class="col-lg-7 text-center">
                <h3 class="text-primary ls-minus-1px fw-700">{{block.tuaDe}}</h3>
            </div>
        </div>
        <div class="row align-items-center mb-5 xs-mb-35px">
            <div class="col-lg-4 md-mb-30px" data-anime='{ "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <a href="#" data-bs-toggle="modal" data-bs-target="{{'#'~lanhDaoId}}" >
                    <div class="text-center team-style-07 bg-white border-radius-6px box-shadow-extra-large box-shadow-quadruple-large-hover">
                        <img src="{{block.lanhDao.image|media}}" class="border-radius-6px w-100" alt="">
                        <div class="team-content p-30px">
                            <div class="primary-font fs-19 fw-600 text-dark-gray">{{block.lanhDao.hoTen}}</div>
                            <span class="fs-16 lh-22 d-block mb-15px">{{block.lanhDao.chucDanh}}</span>
                        </div>
                    </div>
                </a>
                <div class="modal  fade" id="{{lanhDaoId}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title fs-20px fw-700 text-primary" id="exampleModalLabel">{{block.lanhDao.hoTen}}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body nhan-su-modal">
                                <div class="row g-0 nhan-su-detail">
                                    <div class="col-md-4 text-center nhan-su-detail_info text-center">
                                        <div class="nhan-su-detail_info_img">
                                        <img src="{{block.lanhDao.image|media}}" class="img-fluid" alt="...">
                                        </div>
                                        <div class="nhan-su-detai_info_name" >{{block.lanhDao.hoTen}}</div>
                                        <div class="nhan-su-detail_info_title">{{block.lanhDao.chucDanh}}</div>
                                         {# <span class="fs-16 lh-22 d-block mb-15px">{{block.lanhDao.chucDanh}}</span> #}
                                    </div>
                                    <div class="col-md-8 nhan-su-detail_content ">
                                        {{block.lanhDao.quaTrinhCongTac|raw}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <div class="row mb-30px">
                {% for thanhVien in block.dsThanhVien %}
                    {% set thanhVienId = 'thanh-vien-' ~ thanhVien.id%}
                    <div class="col-md-6 mb-30px">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#{{thanhVienId}}" class="text-center">
                            <div class="row g-0 box-shadow-extra-large box-shadow-quadruple-large-hover border-radius-6px overflow-hidden">
                                <div class="col-5 cover-background" style="background-image: url('{{thanhVien.image|media}}')">
                                </div>
                                <div class="col-7 bg-white ps-20px pe-10px pt-30px pb-30px xs-ps-20px">
                                    <span class="primary-font fs-18 fw-600 text-dark-gray d-block">{{thanhVien.hoTen}}</span>
                                    <span class="fs-16 lh-22 d-block">{{thanhVien.chucDanh}}</span>
                                    <div class="h-1px w-100 bg-extra-medium-gray mt-15px mb-10px"></div>
                                </div>
                            </div>
                        </a>
                        <div class="modal  fade" id="{{thanhVienId}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title fs-20px fw-700 text-primary" id="exampleModalLabel">{{thanhVien.hoTen}}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body nhan-su-modal">
                                        <div class="row g-0 nhan-su-detail">
                                            <div class="col-md-4 text-center nhan-su-detail_info text-center">
                                                <div class="nhan-su-detail_info_img">
                                                <img src="{{thanhVien.image|media}}" class="img-fluid" alt="...">
                                                </div>
                                                <div class="nhan-su-detai_info_name" >{{thanhVien.hoTen}}</div>
                                                <div class="nhan-su-detail_info_title">{{thanhVien.chucDanh}}</div>
                                                {# <span class="fs-16 lh-22 d-block mb-15px">{{block.lanhDao.chucDanh}}</span> #}
                                            </div>
                                            <div class="col-md-8 nhan-su-detail_content ">
                                                {{thanhVien.quaTrinhCongTac|raw}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="cover-background h-700px md-h-650px pt-0 pb-0" style="background-image:url('{{'assets/images/default-banner.jpg'|theme}}');">
    <div class="shape-image-animation p-0 w-100">
        <svg width="1920" fill="#eceff1" height="150" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="none" viewbox="0 0 1440 150">
        <path d="M 0 26.1978 C 275.76 83.8152 430.707 65.0509 716.279 25.6386 C 930.422 -3.86123 1210.32 -3.98357 1439 9.18045 C 2072.34 45.9691 2201.93 62.4429 2560 26.198 V 172.199 L 0 172.199 V 26.1978 Z">
        <animate repeatcount="indefinite" fill="freeze" attributename="d" dur="10s" values="M0 25.9086C277 84.5821 433 65.736 720 25.9086C934.818 -3.9019 1214.06 -5.23669 1442 8.06597C2079 45.2421 2208 63.5007 2560 25.9088V171.91L0 171.91V25.9086Z; M0 86.3149C316 86.315 444 159.155 884 51.1554C1324 -56.8446 1320.29 34.1214 1538 70.4063C1814 116.407 2156 188.408 2560 86.315V232.317L0 232.316V86.3149Z; M0 53.6584C158 11.0001 213 0 363 0C513 0 855.555 115.001 1154 115.001C1440 115.001 1626 -38.0004 2560 53.6585V199.66L0 199.66V53.6584Z; M0 25.9086C277 84.5821 433 65.736 720 25.9086C934.818 -3.9019 1214.06 -5.23669 1442 8.06597C2079 45.2421 2208 63.5007 2560 25.9088V171.91L0 171.91V25.9086Z">
        </animate>
        </path>
        </svg>
    </div>
</section>

<section class=" bg-very-light-gray pt-0">
    <div class="container">
        <div class="row justify-content-center mb-3">
            <div class="col-lg-7 text-center">
                <h3 class="text-primary ls-minus-1px fw-700">{{block.tuaDe}}</h3>
            </div>
        </div>
        <div class="row align-items-center mb-5 xs-mb-35px">
            <div class="col-lg-4 md-mb-30px" data-anime='{ "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <a href="#" data-bs-toggle="modal" data-bs-target="{{'#'~lanhDaoId}}" >
                    <div class="text-center team-style-07 bg-white border-radius-6px box-shadow-extra-large box-shadow-quadruple-large-hover">
                        <img src="{{block.lanhDao.image|media}}" class="border-radius-6px w-100" alt="">
                        <div class="team-content p-30px">
                            <div class="primary-font fs-19 fw-600 text-dark-gray">{{block.lanhDao.hoTen}}</div>
                            <span class="fs-16 lh-22 d-block mb-15px">{{block.lanhDao.chucDanh}}</span>
                        </div>
                    </div>
                </a>
                <div class="modal  fade" id="{{lanhDaoId}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title fs-20px fw-700 text-primary" id="exampleModalLabel">{{block.lanhDao.hoTen}}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body nhan-su-modal">
                                <div class="row g-0 nhan-su-detail">
                                    <div class="col-md-4 text-center nhan-su-detail_info text-center">
                                        <div class="nhan-su-detail_info_img">
                                        <img src="{{block.lanhDao.image|media}}" class="img-fluid" alt="...">
                                        </div>
                                        <div class="nhan-su-detai_info_name" >{{block.lanhDao.hoTen}}</div>
                                        <div class="nhan-su-detail_info_title">{{block.lanhDao.chucDanh}}</div>
                                         {# <span class="fs-16 lh-22 d-block mb-15px">{{block.lanhDao.chucDanh}}</span> #}
                                    </div>
                                    <div class="col-md-8 nhan-su-detail_content ">
                                        {{block.lanhDao.quaTrinhCongTac|raw}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <div class="row mb-30px">
                {% for thanhVien in block.dsThanhVien %}
                    {% set thanhVienId = 'thanh-vien-' ~ thanhVien.id%}
                    <div class="col-md-6 mb-30px">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#{{thanhVienId}}" class="text-center">
                            <div class="row g-0 box-shadow-extra-large box-shadow-quadruple-large-hover border-radius-6px overflow-hidden">
                                <div class="col-5 cover-background" style="background-image: url('{{thanhVien.image|media}}')">
                                </div>
                                <div class="col-7 bg-white ps-20px pe-10px pt-30px pb-30px xs-ps-20px">
                                    <span class="primary-font fs-18 fw-600 text-dark-gray d-block">{{thanhVien.hoTen}}</span>
                                    <span class="fs-16 lh-22 d-block">{{thanhVien.chucDanh}}</span>
                                    <div class="h-1px w-100 bg-extra-medium-gray mt-15px mb-10px"></div>
                                </div>
                            </div>
                        </a>
                        <div class="modal  fade" id="{{thanhVienId}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title fs-20px fw-700 text-primary" id="exampleModalLabel">{{thanhVien.hoTen}}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body nhan-su-modal">
                                        <div class="row g-0 nhan-su-detail">
                                            <div class="col-md-4 text-center nhan-su-detail_info text-center">
                                                <div class="nhan-su-detail_info_img">
                                                <img src="{{thanhVien.image|media}}" class="img-fluid" alt="...">
                                                </div>
                                                <div class="nhan-su-detai_info_name" >{{thanhVien.hoTen}}</div>
                                                <div class="nhan-su-detail_info_title">{{thanhVienchucDanh}}</div>
                                                {# <span class="fs-16 lh-22 d-block mb-15px">{{block.lanhDao.chucDanh}}</span> #}
                                            </div>
                                            <div class="col-md-8 nhan-su-detail_content ">
                                                {{thanhVien.quaTrinhCongTac|raw}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-12 text-center d-flex flex-wrap align-items-center justify-content-center" data-anime='{ "el": "childs", "translateX": [-30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <div class="fs-24 fw-500 ls-minus-05px text-dark-gray d-inline-block align-middle md-mb-10px"><img src="https://via.placeholder.com/45x35" class="me-15px" alt="">Nội dung giới thiệu ....</div>
                <div class="separator-line-1px d-none d-lg-inline-block align-middle bg-extra-medium-gray w-90px ms-20px me-20px"></div>

            </div>
        </div>
    </div>
</section>
