<section class="pt-0" style="background-image: url('{{'assets/images/vertical-line-bg-small-medium-gray.svg'|theme}}')">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-10 md-mb-15 xs-mb-20 offset-lg-0 offset-md-1 position-relative">
                <div class="w-75" data-animation-delay="200" data-shadow-animation="true" data-bottom-top="transform: translateY(50px)" data-top-bottom="transform: translateY(-50px)">
                    <img src="{{block.image1|media}}" alt="" class="border-radius-6px w-100">
                    <div class="position-absolute left-minus-70px lg-left-minus-15px md-left-minus-50px bottom-20px lg-bottom-90px md-mb-50px d-none d-md-flex flex-column align-items-center justify-content-center w-200px h-200px bg-white border-radius-100 p-10px box-shadow-quadruple-large" data-anime='{"translateY": [-15, 0], "scale": [0.5, 1], "opacity": [0,1], "duration": 800, "delay": 800, "staggervalue": 300, "easing": "easeOutQuad" }'>
                        <img src="{{block.image3|media}}" class="position-absolute w-70" alt="">
                    </div>
                </div>
                <div class="w-55 overflow-hidden position-absolute right-15px bottom-minus-50px" data-shadow-animation="true" data-animation-delay="100" data-bottom-top="transform: translateY(-20px)" data-top-bottom="transform: translateY(20px)">
                    <img src="{{block.image2|media}}" alt="" class="border-radius-6px box-shadow-quadruple-large w-100" />
                </div>
            </div>
            <div class="col-xl-5 offset-xl-1 col-lg-6 text-right text-md-start" data-anime='{ "opacity": [0,1], "duration": 600, "delay": 100, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <h2 class="fw-800 ls-minus-2px text-primary">{{block.tuaDe}}</h2>
                <p class="mb-30px w-95 lg-w-100 xs-mb-25px">{{block.noiDung}}</p>
            </div>
        </div>
    </div>
</section>
