     <li class="nav-item dropdown submenu">
        <a href="javascript:void(0);" class="nav-link">{{item.title}}</a>
        <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink1" role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
        <div class="dropdown-menu submenu-content background-position-center cover-background" aria-labelledby="navbarDropdownMenuLink1" style="background-image: url({{'assets/images/pre-built-sites-bg.jpg'|theme}})">
            <div class="d-lg-flex mega-menu m-auto">
                <ul class="col">
                    <li><a href="demo-corporate.html" target="_blank">Corporate<span class="label bg-solitude-blue text-cornflower-blue border-radius-26px">Trendy</span></a></li>
                    <li><a href="demo-marketing.html" target="_blank">Marketing</a></li>
                    <li><a href="demo-accounting.html" target="_blank">Accounting<span class="label bg-light-red text-red border-radius-26px">Classic</span></a></li>
                    <li><a href="demo-beauty-salon.html" target="_blank">Beauty Salon</a></li>
                    <li><a href="demo-architecture.html" target="_blank">Architecture</a></li>
                    <li><a href="demo-ebook.html" target="_blank">eBook</a></li>
                    <li><a href="demo-seo-agency.html" target="_blank">SEO Agency</a></li>
                    <li><a href="demo-hosting.html" target="_blank">Hosting</a></li>
                    <li><a href="demo-consulting.html" target="_blank">Consulting</a></li>
                    <li><a href="demo-business.html" target="_blank">Business</a></li>
                    <li><a href="demo-interactive-portfolio.html" target="_blank">Interactive Portfolio</a></li>
                    <li><a href="demo-spa-salon.html" target="_blank">Spa Salon<span class="label bg-light-majorelle-blue text-majorelle-blue border-radius-26px">Clean</span></a></li>
                </ul>
                <ul class="col">
                    <li><a href="demo-branding-agency.html" target="_blank">Branding Agency<span class="label bg-white-ice text-jade border-radius-26px">New</span></a></li>
                    <li><a href="demo-elearning.html" target="_blank">eLearning</a></li>
                    <li><a href="demo-it-business.html" target="_blank">IT Business<span class="label bg-light-majorelle-blue text-majorelle-blue border-radius-26px">Modern</span></a></li>
                    <li><a href="demo-barber.html" target="_blank">Barber</a></li>
                    <li><a href="demo-hotel-and-resort.html" target="_blank">Hotel & Resort</a></li>
                    <li><a href="demo-real-estate.html" target="_blank">Real Estate</a></li>
                    <li><a href="demo-jewellery-store.html" target="_blank">Jewellery Store</a></li>
                    <li><a href="demo-travel-agency.html" target="_blank">Travel Agency</a></li>
                    <li><a href="demo-gym-and-fitness.html" target="_blank">Gym & Fitness</a></li>
                    <li><a href="demo-design-agency.html" target="_blank">Design Agency<span class="label bg-light-red text-red border-radius-26px">Creative</span></a></li>
                    <li><a href="demo-photography.html" target="_blank">Photography</a></li>
                    <li><a href="demo-pizza-parlor.html" target="_blank">Pizza Parlor</a></li>
                </ul>
                <ul class="col">
                    <li><a href="demo-restaurant.html" target="_blank">Restaurant<span class="label bg-light-red text-red border-radius-26px">Hot</span></a></li>
                    <li><a href="demo-scattered-portfolio.html" target="_blank">Scattered Portfolio</a></li>
                    <li><a href="demo-data-analysis.html" target="_blank">Data Analysis</a></li>
                    <li><a href="demo-medical.html" target="_blank">Medical</a></li>
                    <li><a href="demo-horizontal-portfolio.html" target="_blank">Horizontal Portfolio</a></li>
                    <li><a href="demo-product-showcase.html" target="_blank">Product Showcase<span class="label bg-solitude-blue text-cornflower-blue border-radius-26px">Trendy</span></a></li>
                    <li><a href="demo-finance.html" target="_blank">Finance</a></li>
                    <li><a href="demo-fashion-store.html" target="_blank">Fashion Store</a></li>
                    <li><a href="demo-music-onepage.html" target="_blank">Music</a></li>
                    <li><a href="demo-vertical-portfolio.html" target="_blank">Vertical Portfolio</a></li>
                    <li><a href="demo-freelancer.html" target="_blank">Freelancer<span class="label bg-light-majorelle-blue text-majorelle-blue border-radius-26px">Clean</span></a></li>
                    <li><a href="demo-charity.html" target="_blank">Charity</a></li>
                </ul>
                <ul class="col">
                    <li><a href="demo-digital-agency.html" target="_blank">Digital Agency</a></li>
                    <li><a href="demo-web-agency.html" target="_blank">Web Agency<span class="label bg-white-ice text-jade border-radius-26px">Creative</span></a></li>
                    <li><a href="demo-yoga-and-meditation.html" target="_blank">Yoga & Meditation</a></li>
                    <li><a href="demo-startup.html" target="_blank">Startup</a></li>
                    <li><a href="demo-application.html" target="_blank">Application<span class="label bg-light-majorelle-blue text-majorelle-blue border-radius-26px">New</span></a></li>
                    <li><a href="demo-lawyer.html" target="_blank">Lawyer</a></li>
                    <li><a href="demo-conference.html" target="_blank">Conference</a></li>
                    <li><a href="demo-minimal-portfolio.html" target="_blank">Minimal Portfolio<span class="label bg-light-red text-red border-radius-26px">Hot</span></a></li>
                    <li><a href="demo-decor-store.html" target="_blank">Decor Store</a></li>
                    <li><a href="demo-magazine.html" target="_blank">Magazine</a></li>
                    <li><a href="demo-blogger.html" target="_blank">Blogger</a></li>
                    <li><a href="demo-wedding-invitation.html" target="_blank">Wedding Invitation</a></li>
                </ul>
            </div>
        </div>
    </li>
