
<div class="row">
    <div class="col-12 col-lg-12 alert-box-style-03">
        <div class="alert pt-10px pb-10px alert-{{ type }} alert-dismissable text-white" id="dangKySanPhamAlert">
            <a href="#" class="close float-end" data-bs-dismiss="alert" aria-label="close"><i class="feather icon-feather-x text-white"></i></a>
            {% if title %}
                <h4 class="fs-20 fw-600 mb-10px">{{ title }}</h4>
            {% endif %}

            {% if content %}
                <p>{{ content }}</p>
            {% endif %}

            {% if list %}
                <ul>
                {% for item in list %}
                    <li>{{ item }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>
{% if jscript %}
    <script>
        {% if errors %}
            var errors = JSON.parse('{{ errors|raw }}');
        {% endif %}
        {{ jscript|raw }}
    </script>
{% endif %}

