url = "/gioi-thieu/chien-luoc-phat-trien"
layout = "default"
title = "Chiến lược phát triển"
description = "Trang chiến lược phát triển"
meta_title = "Trang chiến lược phát triển"
meta_description = "Trang chiến lược phát triển"

[section pageChienLuocPhatTrien]
handle = "Hagl\ChienLuocPhatTrien"
==
{% set breadcrumbs = [
    {
        'name':'Về HAGL',
        'url':"/",
    },
    {
        'name': 'Chiến lược phát triển'
    }
] %}
{% put breadcrumbs %}
    {% partial 'app/breadcrumbs' pages=breadcrumbs %}
{% endput %}
{% partial 'app/page-title' pageBanner = pageChienLuocPhatTrien.pageBanner type = "parallax-bg" %}

{% for block in pageChienLuocPhatTrien.blocks %}
    {% set blockType = block.type|split('_') %}
    {% if blockType[0] == 'dung-chung' %}
        {% partial 'blocks/dung-chung/' ~ blockType[1] block=block %}
    {% else %}
        {% partial 'blocks/gioi-thieu/' ~ str_slug(block.type) block=block %}
    {% endif %}
{% endfor %}
