url = "/gioi-thieu/nhan-su-chu-chot"
layout = "default"
title = "Nhân sự chủ chốt"
description = "Trang nhân sự chủ chốt HAGL"
meta_title = "Trang nhân sự chủ chốt HAGL"
meta_description = "Trang nhân sự chủ chốt HAGL"

[section pageNhanSuChuChot]
handle = "Hagl\NhanSuChuChot"
==
{% set breadcrumbs = [
    {
        'name':'Về HAGL',
        'url':"/",
    },
    {
        'name': 'Nhân sự chủ chốt'
    }
] %}
{# {% put breadcrumbs %}
    {% partial 'app/breadcrumbs' pages=breadcrumbs %}
{% endput %} #}
{% partial 'app/page-title' pageBanner = pageNhanSuChuChot.pageBanner type = "parallax-bg" %}
{% if pageNhanSuChuChot.dsMenuItems %}
    {% partial 'app/page-submenu' menuItems = pageNhanSuChuChot.dsMenuItems  %}
{% endif %}
{% for block in pageNhanSuChuChot.blocks %}
    {% set blockType = block.type|split('_') %}
    {% if blockType[0] == 'dung-chung' %}
        {% partial 'blocks/dung-chung/' ~ blockType[1] block=block %}
    {% else %}
        {% partial 'blocks/gioi-thieu/' ~ str_slug(block.type) block=block %}
    {% endif %}
{% endfor %}
