[collection categories]
handle = "Blog\Category"

[collection dsTinTuc]
handle = "Blog\Post"
==
{% set categoryURL = categoryParam == '' ?  categories.first().slug : categoryParam%}

<section class="background-position-center-top sm-background-image-none" style="background-image: url({{bgImage}})" id="{{block.content_group}}-{{block.id}}">
    <div class="container" id="section-truyen-thong-{{block.categories.id}}">
        <div class="row align-items-center mb-4" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
            <div class="col-md-6 text-center text-md-start sm-mb-20px">
                <h2 class="fw-600 text-dark-gray mb-0  text-primary">{{block.tuaDe}}</h2>
            </div>
        </div>
        {% set dsBaiVietPaginated = dsTinTuc.whereRelation('categories','id',block.categories.id).paginate(6) %}
        {% set handler = "onGetBaiVietTheoDanhMuc"%}
        {% set danhmucId = block.categories.id%}
        {% set sectionId = "section-truyen-thong-" ~ danhmucId %}
         <div class="row gy-3 justify-content-center" id="bai-viet-danh-muc-{{danhmucId}}" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }' >
            {# {% ajaxPartial 'blocks/truyen-thong/ajax-truyen-thong-items' %} #}
            {% partial 'blocks/truyen-thong/ajax-truyen-thong-items' %}
         </div>
    </div>
</section>

{# <section class="pb-0" id="{{block.content_group}}-{{block.id}}">
    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-xl-5 lg-mb-30px text-center text-xl-start">
                <h2 class="text-primary fw-600 mb-0">{{block.tuaDe}}</h2>
            </div>
            <div class="col-xl-7 tab-style-04 text-center text-xl-end">
                <!-- filter navigation -->
                <ul class="truyen-thong nav nav-tabs justify-content-center justify-content-xl-end border-0">
                    <li class="nav {{categoryParam == '' or categoryParam == 'tin-tuc' ? 'active' : ''}}"><a class="fs-24 fw-600 " href="{{'truyen-thong'|page({category: 'tin-tuc'})}}#{{block.content_group}}-{{block.id}}">Tin tức</a></li>
                    <li class="nav {{categoryParam == 'su-kien' ? 'active' : ''}}"><a class="fs-24 fw-600 " href="{{'truyen-thong'|page({category: 'su-kien'})}}#{{block.content_group}}-{{block.id}}">Sự kiện</a></li>
                </ul>
                <!-- end filter navigation -->
            </div>
        </div>
        {% set categoryURL = categoryParam == '' ?  categories.first().slug : categoryParam%}
        {% set dsTinTucByCategory = dsTinTuc.whereRelation('categories','slug',categoryURL).paginate(10) %}
        <div  class="row" data-anime='{ "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
            <div class="col-12 filter-content p-md-0">
                <ul class="portfolio-wrapper grid-loading grid grid-3col xxl-grid-3col xl-grid-3col lg-grid-2col md-grid-2col sm-grid-1col xs-grid-1col gutter-extra-large">
                    <li class="grid-sizer"></li>
                    <!-- start portfolio item -->
                    {% for tinTuc in dsTinTucByCategory %}
                    <li class="grid-item design transition-inner-all">
                        {% partial 'elements/tin-tuc-card-grid' tinTuc = tinTuc %}
                    </li>
                    {% endfor %}
                    <!-- end portfolio item -->
                </ul>
            </div>

            <div class="col-12 mt-4 d-flex justify-content-center">
                {{ pager(dsTinTucByCategory,{partial: 'elements/pagination'}) }}
            </div>
        </div>
    </div>
</section> #}

