<div class="container overlap-section">
    <div class="row g-0 justify-content-center align-items-center text-center bg-third-color border-radius-6px ps-5 pe-5 pt-3 pb-3 mb-8 sm-p-25px background-position-left-bottom background-no-repeat contain-background position-relative" style="background-image: url('{{'assets/images/footer-bg-01.png'|theme}}')">
        <!-- start footer column -->
        <div class="col-lg-auto lg-mb-20px">
            <h6 class="fw-600 text-primary m-0 d-inline-block me-30px lg-me-0">{{block.tuaDe}}</h6>
        </div>
        <!-- end footer column -->
        <!-- start footer column -->
        <div class="col-auto">
            <a href="{{block.links }}" target="_blank" class="btn text-lowercase btn-extra-large btn-base-color  btn-rounded btn-box-shadow btn-switch-text d-inline-block me-20px align-middle xs-m-0">
                <span>
                    <span class="btn-double-text fw-700 fs-20 " data-text="{{block.tenLink}}">{{block.tenLink}}</span>
                </span>
            </a>
        </div>
        <!-- end footer column -->
    </div>
</div>
