[global pageSettings]
handle = "HAGL\PageSettings"
[staticMenu topMenu]
code = "topmenu"
[staticMenu mainMenu]
code = "mainmenu"

==
<footer class="p-0 fs-16 border-top border-color-extra-medium-gray">
     {% placeholder pageFooterData %}
    <div class="container">
        <div class="row justify-content-center pt-6 sm-pt-40px">
            <!-- start footer column -->
            <div class="col-12 col-md-4 last-paragraph-no-margin text-xl-center text-lg-center text-center order-sm-1 lg-mb-50px sm-mb-30px">
                <a href="{{pageSettings.web}}" class=" mb-15px d-inline-block"><img src="{{pageSettings.websiteLogo|media}}" alt=""></a>
                <p class="text-primary text-uppercase fw-600 w-100 mx-auto text-center">{{pageSettings.tenCongTy}}</p>
                <div class="elements-social social-icon-style-02 mt-20px xs-mt-15px  justify-content-center d-flex">
                    <ul class="medium-icon dark">
                        <li class="my-0"><a class="facebook" href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f "></i></a></li>
                        <li class="my-0"><a class="youtube" href="http://www.dribbble.com" target="_blank"><i class="fa-brands fa-youtube "></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- end footer column -->
            <!-- start footer column -->
            <div class="text-center col-6 col-md-4 xs-mb-30px order-sm-3 order-lg-2">
                <span class="fs-20 text-primary fw-600 d-block  mb-5px">{{"Liên kết nhanh"|_}}</span>
                <ul>
                    {% for menuItem in mainMenu.menuItems %}
                    <li><a class="text-black" href="{{menuItem.url}}">{{menuItem.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <!-- end footer column -->
            <!-- start footer column -->
            <div class="text-center col-6 col-md-4 xs-mb-30px order-sm-4 order-lg-3">
                <span class="fs-20 text-primary  fw-600 d-block mb-5px">Sản phẩm</span>
                <ul>
                    {% for menuItem in topMenu.menuItems %}
                        {% if menuItem.viewBag.isHidden == 0 %}
                        <li><a class="text-black" href="{{menuItem.url}}">{{menuItem.title}}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <!-- end footer column -->
            <!-- start footer column -->
            {# <div class="text-center col-6 col-xl-3 col-lg-3 col-sm-4 xs-mb-30px order-sm-5 order-lg-4">
                <span class="fs-17 fw-600 d-block text-dark-gray mb-5px">Customer</span>
                <ul>
                    <li><a href="demo-corporate-customer-stories.html">Client support</a></li>
                    <li><a href="demo-corporate-customer-stories.html">Help center</a></li>
                    <li><a href="demo-corporate-customer-stories.html">System status</a></li>
                    <li><a href="demo-corporate-customer-stories.html">Feedback</a></li>
                </ul>
            </div> #}
            <!-- end footer column -->
            <!-- start footer column -->
            {# <div class="col-xl-3 col-lg-3 col-sm-6 md-mb-50px sm-mb-30px xs-mb-0 order-sm-2 order-lg-5">
                <span class="fs-17 fw-600 d-block text-dark-gray mb-5px">Subscribe newsletter</span>
                <p class="lh-30 w-95 sm-w-100 mb-15px">Subscribe our newsletter to get the latest news and updates!</p>
                <div class="d-inline-block w-100 newsletter-style-02 position-relative">
                    <form action="email-templates/subscribe-newsletter.php" method="post" class="position-relative">
                        <input class="border-color-extra-medium-gray bg-transparent border-radius-4px w-100 form-control input-small fs-15 pe-50px required" type="email" name="email" placeholder="Enter your email" />
                        <input type="hidden" name="redirect" value="">
                        <button class="btn pe-20px submit lh-16" aria-label="submit"><i class="feather icon-feather-mail icon-small text-dark-gray"></i></button>
                        <div class="form-results border-radius-4px pt-5px pb-5px ps-15px pe-15px fs-14 lh-22 mt-10px w-100 text-center position-absolute d-none"></div>
                    </form>
                </div>
            </div> #}
            <!-- end footer column -->
        </div>
    </div>
    <div class="container-fluid bg-base-color mt-30px">
        <div class="container">
            <div class="row justify-content-center align-items-center gx-4">
                <div class="col-12 col-lg-6 pt-35px pb-35px  order-1 text-start last-paragraph-no-margin">
                    <div class="row justify-content-evenly">
                        <div class="col-6 col-md-3 text-center px-0 ">
                            <a href="{{index|page}}" target="_blank" class="fs-14 text-decoration-none text-white fw-600 ">{{"Trang chủ Hagl"|_}}</a>
                            {# <span class="text-white d-none d-md-block">|</span> #}
                        </div>
                        <div class="col-6 col-md-3  text-center px-0">
                            <a href="{{"lien-he"|page}}" target="_blank" class="fs-14 text-decoration-none text-white fw-600 ">{{"Thông tin liên lạc"|_}}</a>
                            {# <span class="text-white d-none d-md-block">|</span> #}
                        </div>
                        <div class="col-6 col-md-3  text-center px-0">
                            <a href="{{'dieu-khoan-su-dung'|staticPage}}" target="_blank" class="fs-14 text-decoration-none text-white fw-600 ">{{"Điều khoản sử dụng"|_}}</a>
                            {# <span class="text-white d-none d-md-block ">|</span> #}
                        </div>
                        <div class="col-6 col-md-3  text-center px-0 ">
                            <a href="{{'chinh-sach-bao-mat'|staticPage}}" target="_blank" class="fs-14 text-decoration-none text-white fw-600 ">{{"Chính sách bảo mật"|_}}</a>
                        </div>
                    </div>
                     <p class="col-12 ps-0 text-white text-center fs-14 fw-700 mt-10px md-mt-0">{{pageSettings.copywriter}}</p>
                </div>

                <div class="col-12 col-lg-6  pt-35px pb-35px ps-30px order-2 last-paragraph-no-margin">
                    <div class="d-flex flex-column justify-content-center align-items-center text-center">
                        <p class=" m-0 fs-14 text-white fw-600">{{"Số giấy chứng nhận đăng ký doanh nghiệp:"|_}} {{pageSettings.masoDoanhNghiep}}</p>
                        <p class=" m-0 fs-14 text-white fw-600">{{"Ngày cấp:"|_}} {{pageSettings.ngayCapDoanhNghiep}} {{". Nơi cấp: "}} {{pageSettings.noiCapCapDoanhNghiep}}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>
