[staticMenu mainMenu]
code = "mainmenu"

[staticMenu topMenu]
code = "topmenu"
==
{% for item in mainMenu.menuItems %}
    {% if item.viewBag.isHidden == 0 %}
    {% if item.items|length  > 0  %}
        {% if item.code == 'basic-menu' %}
            {% partial 'app/nav-styles/basic-menu' item = item%}
        {% elseif item.code == 'simple-menu' %}
            {% partial 'app/nav-styles/simple-menu' item = item %}
        {% elseif item.code == 'multi-column-menu' %}
            {% partial 'app/nav-styles/multi-column-menu' item = item %}
        {% elseif item.code == 'mega-menu' %}
            {% partial 'app/nav-styles/mega-menu' item = item %}
        {% endif %}
    {% else %}
        <li class="nav-item ">
          <a class="nav-link lg-ps-5px lg-pe-5px" href="{{item.url}}">{{item.title}}</a>
        </li>
    {% endif %}
    {% endif %}
{% endfor %}
<div class="text-center d-md-none d-block mt-20px border-top d-flex flex-column  gap-2 justify-content-a p-20px ">
{% for item in topMenu.menuItems %}
    <li class="nav-item ">
          <a class="nav-link btn btn-base-color fs-12 border-radius-10px " style="color: #fff !important;" href="{{item.url}}">{{item.title}}</a>
    </li>
{% endfor %}
</div>
