<div class="bottom-16px right-16px  position-fixed d-flex flex-column d-md-flex">

{# <a href="https://zalo.me/{{zalo_ho_tro}}" class="border bg-white rounded-5 mb-2 text-center" style="padding: 0.8rem 1.33rem;box-shadow: 0 0px 0.267rem 0 rgba(0, 0, 0, 0.09), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.03)" target="_blank"><img style="max-width:3.67rem" src="{{'assets/images/zalo-logo.png'|theme}}" /></a> #}
<a href="{{block.file.url}}" target="_blank" class="page-stick-link  overflow-hidden w-100 btn fw-bold text-white rounded-5 mb-2 py-2 px-3" style="line-height: 1rem; box-shadow: 0 0px 0.267rem 0 rgba(0, 0, 0, 0.2), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.03)">
    <div>
        <i class="ti ti-download"></i>
        <span style="font-size:0.8rem">{{block.tuaDe}}</span>
    </div>
    <span style="font-size:0.8rem">{{block.tenLink}}</span>
</a>
</div>
