<meta property="og:title" content="{{metaData.tua_de}}" />
<meta property="og:description" content="Tập đoàn HAGL cần tuyển số lượng: {{metaData.so_luong}} người. Công việc: {{metaData.tua_de}}" />
<meta property="og:image" content="{{metaData.anh_dai_dien|media}}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:url" content="{{'tuyen-dung/tuyen-dung'|page({ slug: metaData.slug })}}" />
<meta property="og:type" content="article" />
