<section class="pt-0 pb-0 ">
  <div class="container ">
    <div class="row gx-5 gy-3 justify-content-center  mt-minus-70px position-relative align-items-center " style="margin-top: -75px;">
      {% for menuItem in menuItems %}
        <div class="col-sm-12 col-lg-4 h-100">
            <a href="javascript:void(0);" onclick="scrollToTarget('{{menuItem.sectionId}}')"class="page-submenu">
                <div class="bg-base-color border-radius-8px p-15px h-120px md-p-15px lg-p-25px shadow-lg position-relative">
                    <div class="d-flex align-items-center justify-content-center">
                        <p class="fs-24 text-white fw-700 " >{{menuItem.tuaDe}}</p>
                        <div class="widgets-icons">
                            <i class="fas fa-arrow-down"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
