<section class="pt-0 pb-0 ">
  <div class="container ">
    <div class="row row-cols-1 row-cols-xl-5 row-cols-md-5 row-cols-sm-1 gy-3  justify-content-center  position-relative align-items-center" style="margin-top: -70px;">
      {% for menuItem in menuItems %}
        <div class="col h-100">
            <a href="javascript:void(0);" onclick="scrollToTarget('{{menuItem.sectionId}}')"class="page-submenu">
                <div class="bg-base-color border-radius-8px p-25px shadow-lg position-relative">
                    <div class="d-flex align-items-center justify-content-center">
                        <p class="fs-24 text-white fw-700 " >{{menuItem.tuaDe}}</p>
                        <div class="widgets-icons">
                            <i class="fas fa-arrow-down"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
