<section>
    <div class="container">
        <div class="row mb-6" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
            <div class="col-xl-10">
                <h5 class="text-primary mb-0 lh-44 ls-minus-1px">{{block.tuaDe}} <span class="fw-600">{{block.noiDung}}</span></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <div class="row border-top border-color-dark-gray position-relative g-0 sm-border-top-0 sm-pb-30px">
                    <div class="col-12 col-md-1 text-md-center align-self-center">
                        <span class="text-dark-gray fs-14 fw-600">9X</span>
                    </div>
                    <div class="col-lg-8 col-md-7 last-paragraph-no-margin ps-30px pe-30px pe-30px pt-25px pb-25px sm-pt-15px sm-pb-15px border-start border-color-dark-gray sm-border-start-0 sm-px-0">
                        <p class="sm-w-85">Wildlife photographer of the year - <span class="fw-600 text-dark-gray">National geographic</span></p>
                    </div>
                    <div class="col-lg-2 col-md-3 align-self-center text-md-end">
                        <span>28 February 2023</span>
                    </div>
                    <div class="col-auto col-md-1 align-self-center text-end text-md-center sm-position-absolute right-5px">
                        <a href="#"><i class="bi bi-arrow-right-short text-dark-gray icon-medium"></i></a>
                    </div>
                </div>
                <div class="row border-top border-color-dark-gray position-relative g-0 sm-pb-30px sm-pt-30px">
                    <div class="col-12 col-md-1 text-md-center align-self-center">
                        <span class="text-dark-gray fs-14 fw-600">6X</span>
                    </div>
                    <div class="col-lg-8 col-md-7 last-paragraph-no-margin ps-30px pe-30px pe-30px pt-25px pb-25px sm-pt-15px sm-pb-15px border-start border-color-dark-gray sm-border-start-0 sm-px-0">
                        <p class="sm-w-85">Architectural photographer of the year - <span class="fw-600 text-dark-gray">International photography</span></p>
                    </div>
                    <div class="col-lg-2 col-md-3 align-self-center text-md-end">
                        <span>09 November 2023</span>
                    </div>
                    <div class="col-auto col-md-1 align-self-center text-end text-md-center sm-position-absolute right-5px">
                        <a href="#"><i class="bi bi-arrow-right-short text-dark-gray icon-medium"></i></a>
                    </div>
                </div>
                <div class="row border-top border-color-dark-gray position-relative g-0 sm-pb-30px sm-pt-30px">
                    <div class="col-12 col-md-1 text-md-center align-self-center">
                        <span class="text-dark-gray fs-14 fw-600">4X</span>
                    </div>
                    <div class="col-lg-8 col-md-7 last-paragraph-no-margin ps-30px pe-30px pe-30px pt-25px pb-25px sm-pt-15px sm-pb-15px border-start border-color-dark-gray sm-border-start-0 sm-px-0">
                        <p class="sm-w-85">Festivals photographer of the year - <span class="fw-600 text-dark-gray">Travel photographer</span></p>
                    </div>
                    <div class="col-lg-2 col-md-3 align-self-center text-md-end">
                        <span>22 October 2020</span>
                    </div>
                    <div class="col-auto col-md-1 align-self-center text-end text-md-center sm-position-absolute right-5px">
                        <a href="#"><i class="bi bi-arrow-right-short text-dark-gray icon-medium"></i></a>
                    </div>
                </div>
                <div class="row border-top border-color-dark-gray position-relative g-0 sm-pb-30px sm-pt-30px">
                    <div class="col-12 col-md-1 text-md-center align-self-center">
                        <span class="text-dark-gray fs-14 fw-600">7X</span>
                    </div>
                    <div class="col-lg-8 col-md-7 last-paragraph-no-margin ps-30px pe-30px pe-30px pt-25px pb-25px sm-pt-15px sm-pb-15px border-start border-color-dark-gray sm-border-start-0 sm-px-0">
                        <p class="sm-w-85">Fine art photography of the year - <span class="fw-600 text-dark-gray">Monovisions photography</span></p>
                    </div>
                    <div class="col-lg-2 col-md-3 align-self-center text-md-end">
                        <span>28 December 2019</span>
                    </div>
                    <div class="col-auto col-md-1 align-self-center text-end text-md-center sm-position-absolute right-5px">
                        <a href="#"><i class="bi bi-arrow-right-short text-dark-gray icon-medium"></i></a>
                    </div>
                </div>
                <div class="row border-top border-color-dark-gray position-relative g-0 sm-pb-30px sm-pt-30px">
                    <div class="col-12 col-md-1 text-md-center align-self-center">
                        <span class="text-dark-gray fs-14 fw-600">3X</span>
                    </div>
                    <div class="col-lg-8 col-md-7 last-paragraph-no-margin ps-30px pe-30px pe-30px pt-25px pb-25px sm-pt-15px sm-pb-15px border-start border-color-dark-gray sm-border-start-0 sm-px-0">
                        <p class="sm-w-85">Black & white photo awards - <span class="fw-600 text-dark-gray">Focus awards</span></p>
                    </div>
                    <div class="col-lg-2 col-md-3 align-self-center text-md-end">
                        <span>28 September 2019</span>
                    </div>
                    <div class="col-auto col-md-1 align-self-center text-end text-md-center sm-position-absolute right-5px">
                        <a href="#"><i class="bi bi-arrow-right-short text-dark-gray icon-medium"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
