{# <section class="catelogy-card">
  <div class="container ">
    <div class="row gx-5 gy-3 justify-content-center align-items-center">
      {% for menuItem in block.menuItems %}
        <div class="col-sm-12 col-lg-3">
          <div class="card">
            <div class="card-body">
                <a href="{{'#'~ menuItem.idSection}}" class="catelogy-item">
                  <div class="d-flex align-items-center">
                    <h3 class="card-title" >{{menuItem.noiDung}}</h3>
                    <div class="widgets-icons">
                      <i class="fas fa-arrow-down"></i>
                    </div>
                  </div>
                </a>
              </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section> #}

<!-- end banner -->
<!-- start section -->
<section class="p-0 pt-5">
    <div class="container">
        <div class="row justify-content-center align-items-center flex-column flex-sm-row" data-anime='{ "el": "childs", "translateX": [15, 0], "opacity": [0,1], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'>
            <!-- start features box item -->
            <div class="col-auto icon-with-text-style-08 md-mb-10px text-center text-md-start">
                <div class="feature-box feature-box-left-icon-middle d-inline-flex align-middle">
                    <div class="feature-box-icon me-5px">
                        <i class="bi bi-patch-check-fill fs-15 text-dark-gray"></i>
                    </div>
                    <div class="feature-box-content">
                        <span class="fs-14 fw-600 text-dark-gray text-uppercase">Full service web design agency</span>
                    </div>
                </div>
            </div>
            <!-- end features box item -->
            <div class="col-auto md-mb-15px d-none d-md-flex">
                <span class="progress-step-separator bg-dark-gray w-100px lg-w-70px separator-line-1px d-block mx-auto"></span>
            </div>
            <!-- start features box item -->
            <div class="col-auto icon-with-text-style-08 md-mb-10px text-center text-md-start">
                <div class="feature-box feature-box-left-icon-middle d-inline-flex align-middle">
                    <div class="feature-box-icon me-5px">
                        <i class="bi bi-geo-alt-fill fs-15 text-dark-gray"></i>
                    </div>
                    <div class="feature-box-content">
                        <span class="fs-14 fw-600 text-dark-gray text-uppercase">Located at london</span>
                    </div>
                </div>
            </div>
            <!-- end features box item -->
            <div class="col-auto md-mb-15px d-none d-md-flex">
                <span class="progress-step-separator bg-dark-gray w-100px lg-w-70px separator-line-1px d-block mx-auto"></span>
            </div>
            <!-- start features box item -->
            <div class="col-auto icon-with-text-style-08 text-center text-md-start">
                <div class="feature-box feature-box-left-icon-middle d-inline-flex align-middle">
                    <div class="feature-box-icon me-5px">
                        <i class="bi bi-heart-fill fs-15 text-dark-gray"></i>
                    </div>
                    <div class="feature-box-content">
                        <span class="fs-14 fw-600 text-dark-gray text-uppercase">Award winning agency</span>
                    </div>
                </div>
            </div>
            <!-- end features box item -->
        </div>
    </div>
</section>
