<section class="mt-0 pt-0 position-relative" style="background-image: url({{'assets/images/vertical-line-bg.svg'|theme}}") >
    {% if block.title != '' %}
    <div class="section-title text-center mx-auto" style="max-width: 500px;">
        <!-- <p class="fs-5 fw-medium fst-italic text-primary">Lịch sử phát triển</p> -->
        <h1 class="display-6">{{block.title}}</h1>
    </div>
    {% endif %}
    <div class="container">
        <div class="timeline">
            {% for timeLine in block.timeLines|default([]) %}
            {% set animationClass = loop.index % 2 == 0 ? '{"translateX": [100, 0], "opacity": [0,1], "duration": 800, "delay": 0, "easing": "easeOutQuad" }' : '{"translateX": [-100, 0], "opacity": [0,1], "duration": 800, "delay": 0, "easing": "easeOutQuad" }'%}
            {% set imageUrl = timeLine.image ? timeLine.image|media : 'assets/images/image_not_available_L.png'|theme %}
            <div class="timeline-item" >
                <div class="timeline-img"></div>
                <div class="timeline-content" data-anime='{{animationClass}}'>
                    <div class=" timeline-img-header">
                        <img src="{{imageUrl}}">
                    </div>
                    <div class="date">{{timeLine.mocThoiGian}}</div>
                    <div class="timeline-body px-3">
                        <div class="main-caption">
                        <h5 class="pb-3">{{timeLine.tuaDeChinh}}</h5>
                        </div>
                        <p class="sub-caption">{{timeLine.tuaDePhu}}</p>
                        {{timeLine.noiDung|raw}}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
