<section class="page-title-gallery-background position-relative d-print-none pt-20">
    {# <div class="opacity-extra-medium bg-dark-gray"></div> #}
    <div class="container">
        <div class="row align-items-end justify-content-end small-screen">
            <div class="col-xl-12 col-lg-12 col-sm-12 position-relative text-start hagl-page-titles ">
                <h1 class="ext-uppercase mb-15px text-white ">{{banner.tuaDe}}</h1>
                <p class="mb-0 text-white ">{{banner.noiDung}}</p>
            </div>
            {# <div class="down-section text-center">
                <a href="#down-section" class="section-link">
                    <div class="d-flex justify-content-center align-items-center mx-auto rounded-circle h-55px w-55px fs-22 text-dark-gray bg-white">
                        <i class="feather icon-feather-arrow-down"></i>
                    </div>
                </a>
            </div> #}
        </div>
    </div>

    <div class="swiper z-index-minus-2 position-absolute top-0px w-100 h-100" data-slider-options='{ "loop": true, "slidesPerView": 1, "effect": "fade", "navigation": { "nextEl": ".swiper-auto-next", "prevEl": ".swiper-auto-prev" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "autoplay": { "delay": 3000, "disableOnInteraction": false }, "fadeEffect": { "crossFade": true } }'>
        <div class="swiper-wrapper">
            {% for image in banner.images %}
                <div class="swiper-slide cover-background" style="background-image:url('{{image|media}}');"></div>
            {% endfor %}
        </div>
    </div>
</section>
