url = "/co-dong"
layout = "default"
title = "Cổ đông"
meta_title = "Cổ đông HAGL"
meta_description = "Cổ đông HAGL"

[section pageCoDong]
handle = "Hagl\CoDong"

[resources]
js[] = "datatables/datatables.min.js"
css[] = "datatables/datatables.min.css"
==
{% set breadcrumbs = [
    {
        'name':'HAGL',
        'url':"/",
    },
    {
        'name': 'Cổ đông'
    }
] %}
{% put breadcrumbs %}
    {% partial 'app/breadcrumbs' pages=breadcrumbs %}
{% endput %}
{% partial 'app/page-title' pageBanner = pageCoDong.pageBanner type = "parallax-bg" %}
{% for block in pageCoDong.blocks %}
    {% set blockType = block.type|split('_') %}
    {% if blockType[0] == 'dung-chung' %}
        {% partial 'blocks/dung-chung/' ~ blockType[1] block=block %}
    {% else %}
        {% partial 'blocks/co-dong/' ~ str_slug(block.type) block=block %}
    {% endif %}
{% endfor %}