url = "/"
layout = "default"
title = "Home"
description = "Trang chủ HAGL"
meta_title = "HAGL Group"
meta_description = "HAGL Group"

[collection dsTinTuc]
handle = "Blog\Post"

[Files filesCodong]
category = "cong-bo-thong-tin"
order = "created_at asc"

[section haglHomePage]
handle = "Hagl\HomePage"
==
{# {% partial 'app/page-title' pageBanner = haglHomePage.pageBanner type = "gallery-bg" %} #}
{% if haglHomePage.pageBanner.dsSider is not empty %}
    {% set banner_type = "prallax-scroll-video" %}
{% else %}
    {% set banner_type = "gallery-bg" %}
{% endif %}
{# <h1>{{banner_type}}</h1> #}
{% partial 'app/page-title' pageBanner = haglHomePage.pageBanner type = banner_type %}
{# {% for block in haglHomePage.blocks %}
   {% partial 'blocks/' ~ str_slug(block.type) block=block %}
{% endfor %} #}

{% for block in haglHomePage.blocks %}
    {% set blockType = block.type|split('_') %}
    {% if blockType[0] == 'dung-chung' %}
        {% partial 'blocks/dung-chung/' ~ blockType[1] block=block %}
    {% else %}
        {% partial 'blocks/home-page/' ~ str_slug(block.type) block=block %}
    {% endif %}
{% endfor %}
