url = "/truyen-thong/:category?/"
layout = "default"
title = "Truyền thông"
meta_title = "Truyền thông HAGL"
meta_description = "Truyền thông HAGL"

[section pageTruyenThong]
handle = "Hagl\TruyenThong"

[resources]
js[] = "lightbox.min.js"
css[] = "lightbox.min.css"
==
<?php
use Tailor\Models\EntryRecord;
function onTinTucByCategory() {
    $this['result'] = input('value1') + input('value2');
}
function onStart(){
    $this['categoryParam'] =  $this->param('category');
}
function onGetSuKien() {
    $this['dsSuKienPaginated'] = EntryRecord::inSection('Blog\Event')->paginate(2);
}
?>
==
{# {% set breadcrumbs = [
    {
        'name':'HAGL',
        'url':"/",
    },
    {
        'name': 'Truyền thông'
    }
] %}
{% put breadcrumbs %}
    {% partial 'app/breadcrumbs' pages=breadcrumbs %}
{% endput %} #}
{% partial 'app/page-title' pageBanner = pageTruyenThong.pageBanner type = "parallax-bg" %}
{% framework extras %}
{% if pageTruyenThong.dsMenuItems %}
    {% partial 'app/page-submenu' menuItems = pageTruyenThong.dsMenuItems  %}
{% endif %}
{% for block in pageTruyenThong.blocks %}
    {% set blockType = block.type|split('_') %}
    {% if blockType[0] == 'dung-chung' %}
        {% partial 'blocks/dung-chung/' ~ blockType[1] block=block %}
    {% else %}
        {% partial 'blocks/truyen-thong/' ~ str_slug(block.type) block=block %}
    {% endif %}
{% endfor %}