:root {
    --base-color: rgb(248, 159, 50);
    --primary-color: #213382 ;
    --secondary-color: rgb(116,68,49);
    --dark-gray: #232323;
    --very-light-gray: #eceff1;
    // --bs-link-color:  rgb(248, 159, 50) !important;
}

.text-primary {
    color: var(--primary-color) !important
}
